[2021-06-11 08:31] famod commented on #240
Not sure about this. E.g. we are doing this is a custom connector class wrapping the client:
[code]
The crucial bit here is the SSL factory.

[2021-06-11 09:15] dufoli commented on #248
check if InjectionPoint ip is not null in io.quarkiverse.cxf.CxfClientProducer.selectorCXFClientInfo

[2021-06-11 15:00] shumonsharif commented on #240
@dufoli I think it's better to keep this issue open for now, we need to dig in some more and give it some deeper thought.  I think @famod has raised some valid scenarios we'll need to explore.

BTW @famod , instead of what you are doing for the SSL factory, did you already consider setting those on the CXF conduit?  Something like the below may work and you may be able to avoid creating a custom c

[2021-06-13 11:59] famod commented on #240
Not yet. The code snippet I posted is from a colleague and since we are in a bit of a rush in our current project, I refrained from imposing any futher technical research tasks for now.
But thanks a lot for this snippet, we will check it out later.

Btw, we do have multiple external endpoints to call and each one requires a different client certificate. We have yet to figure out what's the best wa

[2021-06-13 12:03] famod commented on #248
@dufoli are you asking @mickroll to check that or is that a note to yourself for implementing the fix? Sorry if that's a stupid question. 😉

[2021-06-13 21:42] dufoli commented on #248
Note for implementing fix.
But maybe I have to dig deeper to understand why it is null...

[2021-06-15 07:29] dufoli commented on #248
can you test this branch. I guess you have an injection point without annotation CxfClient and it make it bug.

[2021-06-15 07:47] dufoli commented on #248
another thing, I read that
https://quarkus.io/guides/cdi
it talk about monking and using ApplicationScoped in order to mock instead of singleton. It is what we do but it seems to be used with QuarkusMock
quarkus mock
Can you switch to
[code]

[2021-06-15 18:07] comrt commented on #238
Hello, i stumbled over the same problem, i ran your example on my Windows 10 machine with the given command.
Result is:
Caused by: org.apache.cxf.BusException: No binding factory for namespace http://schemas.xmlsoap.org/wsdl/soap/ registered.

Next thing i did, is building the app with the property quarkus.native.container-build=true as a docker image and ran it. Same result.

In the build log i c

[2021-06-16 02:22] shumonsharif commented on #238
Hi @comrt can you please try to add -Dquarkus.native.auto-service-loader-registration=true to your build and let us know the results?  The NPEs can safely be ignored - they are logged as DEBUG statements by the extension.

[2021-06-16 04:32] comrt commented on #238
@shumonsharif i switched to jvm11 and ran it with the parameter. It doesn't work, the native image cannot be built, it fails with:

`Error: Unsupported features in 4 methods
Detailed message:
Error: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved type during parsing: org.jvnet.mimepull.MIMEPart. To diagnose the issue you can use the --allow-incomplete-classp

[2021-06-16 12:09] shumonsharif commented on #238
@comrt Thank you - I believe we may have made some progress here, and identified a potential issue.  @dufoli Do you have some thoughts on `org.jvnet.mimepull.MIMEPart` for reflection?

Regarding the following error, it seems to have popped up now and then (you can search the Quarkus issues), and is unrelated to this extension.
`ERROR: Failed to start application (with profile prod) java.lang.Insta

[2021-06-16 13:09] dufoli commented on #238
maybe add reflection for
MIMEMultipartRelated
and org.jvnet.mimepull.MIMEPart
but not sure

[2021-06-16 15:20] shumonsharif commented on #238
@dufoli I agree - org.jvnet.mimepull.MIMEPart should not be getting used by CXF, the library doesn't even appear in the dependency tree for me.

@comrt are you running the `quarkus-cxf-238.zip` as is, or did you add anything to it?  Can you run `mvn dependency:tree` for us?  Also, if you would please share your JDK details with `java -version`?

[2021-06-16 16:28] comrt commented on #238
@shumonsharif i only added the additional args (--allow-incomplete-classpath), when suggested by the build output.

Here's the JDK i used:
`java -version
openjdk version "11.0.10" 2021-01-19
OpenJDK Runtime Environment GraalVM CE 21.0.0.2 (build 11.0.10+8-jvmci-21.0-b06)
OpenJDK 64-Bit Server VM GraalVM CE 21.0.0.2 (build 11.0.10+8-jvmci-21.0-b06, mixed mode, sharing)
`
Dependencies
`mvn dependenc

[2021-06-16 18:33] shumonsharif commented on #238
@dufoli You're right, I think the `quarkus.native.auto-service-loader-registration=true` flag is what resulted in the JDK loading its internal implementation, which in turn needs `org.jvnet.mimepull.MIMEPart`.  So using that flag is not a good option for us.

@comrt Can you please try the attached [quarkus-cxf-238.zip](https://github.com/quarkiverse/quarkus-cxf/files/6665085/quarkus-cxf-238.zip) w

[2021-06-16 19:06] comrt commented on #238
@shumonsharif
it breaks again at integration test phase with `"Could not resolve a binding for http://schemas.xmlsoap.org/wsdl/soap/" `.
[buildlog-2021-06-016.txt](https://github.com/quarkiverse/quarkus-cxf/files/6665244/buildlog-2021-06-016.txt)

Did try  `mvn clean package -Pnative -Dquarkus.native.container-build=true` as well and tested it manually via docker.
Still the same issue.

[2021-06-16 20:17] shumonsharif commented on #238
@comrt Thanks for your support with this issue - we are unable to reproduce the issue, so we'll need your help to continue troubleshooting!  I'm running out of ideas here, though I'm thinking it could be JDK / GraalVM related.

Can you please try one more thing for us ...

Update your pom.xml with the line below, and then build with `-Dquarkus.native.auto-service-loader-registration=true`
[code]

[2021-06-17 03:58] comrt commented on #238
@shumonsharif welcome, no thanks needed, you're doing a great job with this project here.

tried it, still no luck...
[buildlog-2021-06-17.txt](https://github.com/quarkiverse/quarkus-cxf/files/6667245/buildlog-2021-06-17.txt)

i'm still curious, why it's not working with `-Dquarkus.native.container-build=true` and the supported docker files, does it work for you?

[2021-06-17 12:00] shumonsharif commented on #238
@comrt I may be missing something here; how are you executing and running the unit tests for the docker generated binary?  I am on Mac OS, the docker build generates a Linux binary that can't execute ... with error `cannot execute binary file`.  Can you share some details on what you're running and the output?

[2021-06-17 12:42] shumonsharif commented on #238
FWIW @comrt , I built the docker image manually, ran it, and initiated a request using the following curl:

`curl -H "Content-Type: application/json" --data 'Shumon' http://localhost:8080/rest/hello`

Everything worked fine as expected.  I've attached all the commands and respective logs.  Kindly let us know if you notice any differences from your results.
[01-mvn-native.txt](https://github.com/qu

[2021-06-17 14:11] comrt commented on #238
@shumonsharif  i used `mvn clean package -Pnative -Dquarkus.native.container-build=true`, which doesn't execute the IT-Tests but still creates the binary.
Then i used the same commands as you to push the binary to the docker and ran the created image.

I reproduced your steps:
[01-mvn-native.txt](https://github.com/quarkiverse/quarkus-cxf/files/6670780/01-mvn-native.txt)
[02-docker-build.txt](http

[2021-06-17 14:13] comrt commented on #238
@shumonsharif  I will try to get my hands on a Mac OS or Linux system and test it there. Maybe it's just a Windows GraalVM Problem.

[2021-06-17 14:32] shumonsharif commented on #238
@comrt The docker native build is not using Windows GraalVM - but would be great if you could try out a Mac OS or Linux system, curious what result you get.  Just a random thought occurred to me - could it be related to locale settings?

[2021-06-17 16:08] comrt commented on #238
@shumonsharif It works on my MacBook...
`mvn clean package -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.native-image-xmx=12g`
[mac-mvn-native.txt](https://github.com/quarkiverse/quarkus-cxf/files/6671625/mac-mvn-native.txt)
[mac-docker-run-curl.txt](https://github.com/quarkiverse/quarkus-cxf/files/6671626/mac-docker-run-curl.txt)
Seems to have something to do with the environmen

[2021-06-17 16:52] shumonsharif commented on #238
@comrt Thanks for confirming!!  Definitely appears as though it may be environment related.  A little bizarre though that the docker image build would behave differently ... that's unexpected!

[2021-06-17 17:03] comrt commented on #238
Next thing i tried, is building the binary on WSL and ran it there, works.
What i did next, is pushing the binary - built on WSL - into a docker image on Windows itself, works also.

Somehow the image gets build differently on Windows than any other OS.
My suggestion is indeed the native image source JAR. Doesn't the binary get built on top of that?
Take a look at the warnings:
`[INFO] [io.quarkiv

[2021-06-17 17:27] shumonsharif commented on #238
Awesome, thanks @comrt for the additional testing, and I think you're right, the native sources are likely being used to create the native binary.  I tried looking into the referenced GraalVM #2387 and Quarkus #8860 issues, but couldn't figure out whether the fixes were ever addressed properly.  Will try to dig in some more later today ...

[2021-06-18 09:35] argenstijn opened #251 "fails to build in graalvm 21.1"
The build succeeds in 21.0.X version but fails to build in 21.1.

This is the error:

CarClaimsExchanger-1.0-b6823974-runner:312]     analysis: 196,866.07 ms,  5.70 GB
Error: com.oracle.graal.pointsto.constraints.UnsupportedFeatureException: Detected an instance of Random/SplittableRandom class in the image heap. Instances created during image generation have cached seed values and don't behave as

[2021-06-18 12:03] shumonsharif commented on #251
@argenstijn This is behaving as expected; we are not yet using a version of Quarkus that supports 21.1.  I anticipate this issue won't exist once we switch to the Quarkus 2.0 stable releases.  You can refer to the following for more details:

https://github.com/quarkusio/quarkus/issues?q=is%3Aissue+Detected+an+instance+of+Random%2FSplittableRandom+class+in+the+image+heap+is%3Aclosed

Closing this

[2021-06-19 09:10] dufoli commented on #238
I think we can open a bug on graalvm

[2021-06-19 10:31] shumonsharif commented on #238
@dufoli @comrt As I understood it, the issue for GraalVM #2387 was already fixed.  I believe the core issue is that the Quarkus changes to address the original GraalVM Windows limitation needs to be reverted, as per:

https://github.com/quarkusio/quarkus/pull/8860/files#diff-e2e9394cec5c2edcecfcc2ee65fd6bedb2727a87b2864fa4d736bc4725d96569R635

[2021-06-20 14:06] marcelbraghini commented on #238
hello
i'm facing a similar problem,  only occurs when I run the service from the jar (uber jar), when I go up with quarkus:dev it works perfectly

`Caused by: org.apache.cxf.service.factory.ServiceConstructionException: Could not resolve a binding for http://schemas.xmlsoap.org/wsdl/soap/`

you can test it on a sample project:
https://github.com/marcelbraghini/integrations

to see the error: `java

[2021-06-21 09:35] dufoli commented on #238
same issue than #194 . It was supposed to be fixed but I guess we have to check if ressources is well merged in quarkus for windows or if we have special stuff for that ? because native on windows seems to use uberjar.

[2021-06-21 09:40] dufoli commented on #238
hmmm maybe solution is to change https://github.com/quarkiverse/quarkus-cxf/pull/218/files
by adding in test if windows && native same behaviour than uberjar to merge files in order to have
because as @shumonsharif  provide link, the native on windows seems to use uberjar...
but if we do so we need to check if patch done on quarkus to use merged ressource work in native mode.

https://github.com/q

[2021-06-21 10:14] famod opened #252 "Client: Should limit generation to only those portTypes that are actually used"
We generate classes via `cxf-codegen-plugin` from a WSDL file that contains multiple portTypes.
This yields multiple `@WebService` classes.
So far so common.

We only use one of those service interfaces/portTypes but I can see on the console that this extension generates a  QuarkusJaxWsServiceFactoryBean for _every_ found `@WebService` class.

Since Quarkus is all about build-time optimization and

[2021-06-21 12:42] shumonsharif commented on #238
@dufoli It appears uberjar is broken in general, even on Mac OS.  I doubled checked the `META-INF/cxf/bus-extensions.txt` and the `META-INF/wsdl.plugin.xml` files generated in @marcelbraghini 's projects uberjar - both files are getting merged properly and placed in the correct locations, but failing at runtime with `Could not resolve a binding for http://schemas.xmlsoap.org/wsdl/soap/`.  I would

[2021-06-21 15:57] dufoli commented on #238
ohhhh noooo. Can you reopen on quarkus side and we will have to find a solution for that with quarkus team...

[2021-06-22 14:02] comrt commented on #238
@shumonsharif @dufoli Thank you very much again for your investigations
From my perspective this is a 'issue' best addressed to the quarkus-project.
For the mean time i can work with a multistaged docker build as a workaround locally.
I'm just happy to know, it will work in our production environment. :-)
Big Thanks!

[2021-06-23 11:14] shumonsharif commented on #238
@comrt Glad you have a workaround that gets you to production for now!

@dufoli It's been quite the hectic week at work - I will try to open an issue this weekend.  If you have some bandwidth before that, definitely feel free to open it as well!

[2021-06-24 11:36] dufoli commented on #251
I reopen it because quarkus is released and we have to handle it:
https://github.com/quarkiverse/quarkus-cxf/pull/253

[2021-06-24 16:32] shumonsharif commented on #251
@dufoli This was a bit painful to figure out ... :) but I think it should give us what we need to fix this issue.

When I add the following to `integration-tests/pom.xml`

[code]

native build works fine with GraalVM 21.1, and everything passes.

However, when I add the same classes to `QuarkusCxfProcessor` using `RuntimeInitializedClassBuildItem` it seems to have zero impact.  Tried it a few diff

[2021-06-24 17:44] dufoli commented on #251
lol I was doing the same stuff with RuntimeInitializedClassBuildItem .
can you push on the branch the commit on RuntimeInitializedClassBuildItem
I will check later

[2021-06-25 10:38] famod commented on #252
@dufoli @shumonsharif I would like to take a stab at this before the next release is published.

I would try to find via jandex index all `@CXFClient` injections...something like that. WDYT?

[2021-06-25 10:51] shumonsharif commented on #251
@dufoli was just about to commit the changes, but just realized you did the same commit 5 mins ago ... let me know if i can help in any way; i have a little time before my workday starts!

[2021-06-25 11:00] #251 closed

[2021-06-25 11:00] dufoli commented on #251
done and working :-)

[2021-06-25 11:02] dufoli commented on #252
hmm, yes you are right ;-). It is a good optimization.

[2021-06-25 11:15] shumonsharif commented on #252
@famod Just wanted to clarify one thing, and hope I'm not over thinking the issue ... you'll somehow need to strip out only the `@WebService` classes that are tied to a `@CXFClient` specific endpoint ... but any server endpoint `@WebService` classes that are co-existing and hosted within the same project should still generate the `QuarkusJaxWsServiceFactoryBean`... is my understanding correct?

[2021-06-25 12:04] dufoli commented on #252
yes @shumonsharif
only produce client needed but all server with route must be generated!

[2021-06-25 12:57] dufoli commented on #238
@shumonsharif  I open the issue.

[2021-06-25 13:23] dufoli commented on #238
https://github.com/quarkusio/quarkus/issues/18168

[2021-06-25 13:51] shumonsharif commented on #238
@dufoli I think the PR I just submitted should address these issues.  @comrt Can you please help us test on Windows native once @dufoli merges the PR?

[2021-06-25 14:21] dufoli commented on #238
We just missed the https://github.com/quarkusio/quarkus/issues/5677 PR
Thanks @shumonsharif I have merged it.

[2021-06-25 14:21] dufoli commented on #238
let s close and reopen if do not worked.

[2021-06-25 14:21] #238 closed

[2021-06-25 18:01] comrt commented on #238
@shumonsharif sorry if i'm commenting on the closed issue, but i will test it with quarkus 2.0 and the master branch.

[2021-06-25 19:04] shumonsharif commented on #238
@comrt no problem at all - and thanks once again for your help!  We'll reopen the issue in case it's still not fixed.

[2021-06-25 19:21] comrt commented on #238
@shumonsharif  and @dufoli
just tested it, works like a charm <3

- Win32-App built on graalvm-ce-java16-21.1.0 and

- Native image in docker container built on AdoptOpenJDK\jdk-11.0.11.9-hotspot\bin\java.exe

Great Work (y)

[2021-06-25 19:21] dufoli commented on #238
@shumonsharif have you test on your side because I can close the quarkus bug
..

[2021-06-25 20:48] shumonsharif commented on #238
@dufoli yes, let's close the Quarkus bug, glad this issue is finally resolved!

[2021-06-26 18:43] marcelbraghini commented on #238
hello guys
i tested it here and it worked perfectly... the only thing that appears is a warning:

`
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.sun.xml.bind.v2.runtime.reflect.opt.Injector (file:/Users/marcelb/Projetos/integrations/target/integrations-0.1.0-SNAPSHOT-runner.jar) to method java.lang.ClassLoader.defineClass(java.lang.String,b

[2021-06-27 11:54] shumonsharif commented on #238
@marcelbraghini Thanks, only suggestion I have is that you try the `-Dcom.sun.xml.bind.v2.bytecode.ClassTailor.noOptimize=true` flag as a workaround.  You can read more about it here:
https://stackoverflow.com/a/50251510

Also, including the following links in case we need to refer to these later ...
`https://github.com/eclipse-ee4j/jaxb-ri/issues/1197`
`https://github.com/eclipse-ee4j/jaxb-ri/iss

[2021-06-28 00:02] marcelbraghini commented on #238
Oh, I get it,
thanks man

[2021-06-28 05:57] mickroll commented on #248
Finally found some time to try you suggestion.
With this approach, `installMockForType` fails in `@BeforeAll`:
[code]

Btw. using `installMockForType` in `@BeforeEach` yields the same problem.

[2021-06-28 06:11] mickroll commented on #248
The NPE is gone. I'll try to create a reproducer for the rest.

[2021-06-28 06:41] mickroll commented on #248
Pushed a demonstrator, see above. This is what i want to achieve:
[code]

[2021-06-28 07:43] dufoli commented on #238
@shumonsharif maybe we can use NativeImageSystemPropertyBuildItem to set property or NativeImageConfigBuildItem but I guess first one is the best. wdyt ?

[2021-06-28 08:41] dufoli commented on #248
@mickroll hmm....
what is properties of your service.
https://github.com/mickroll/quarkus-cxf/blob/f75dd786175135ba6466bf9c4aa6e959e2c2c44d/integration-tests/src/main/resources/application.properties
there are few service and they are all named.
can you try with
`@CXFClient("mockCalculator")`

[2021-06-28 09:44] mickroll commented on #248
Still fails like every other test with `IllegalStateException: No root definition found for class io.quarkiverse.cxf.CxfConfig`.
Are there any additional things i have to follow for running the integration tests? My Approach:
[code]
with:
[code]

[2021-06-28 09:59] dufoli commented on #248
other point, you have to use the snippet provide on https://github.com/quarkiverse/quarkus-cxf/issues/248#issuecomment-861268469
instead of :
@InjectMock
    CalculatorSoap calculatorWSMock;

[2021-06-28 10:33] dufoli commented on #248
ok got it indeed there is some code on quarkus core to handle injectMock attribute.
So we have to handle it too.

https://github.com/quarkusio/quarkus/blob/main/test-framework/junit5-mockito/src/main/java/io/quarkus/test/junit/mockito/internal/CreateMockitoMocksCallback.java

commit to introduce support for it:
https://github.com/quarkusio/quarkus/commit/96db1d725d689f441bcf674741ae974a3cf2c90b#di

[2021-06-28 11:11] shumonsharif commented on #238
@dufoli the warning only gets printed for uberjar mode, and not in native mode.  So I don't believe `NativeImageSystemPropertyBuildItem` will address it ... I think better to use just plain `SystemPropertyBuildItem`.

[2021-06-28 11:33] shumonsharif commented on #248
@dufoli I was never able to successfully mock a CXF / JAX-WS client in general (even outside of the Quarkus realm), so I'm not entirely sure how this will work without an actual endpoint to process the request.

I'm also not entirely clear on the requirement ... I'm guessing we are trying to return a pre-canned static response for the mock client, and don't want it to make an HTTP call?

[2021-06-28 13:14] mickroll commented on #248
Yes, maybe i should have made that clearer in the first place. Sorry for that.

What i have is a service that uses an injected CxfClient to connect to an external webservice.
Now i want to be able to test all the services logic, without doing the external request. Instead of the CxfClient i want to haven a mockito mock injected into the service, so i can check its input and control its output. Jus

[2021-06-28 13:50] dufoli commented on #248
I have worked a little bit on it.
indeed, we have an issue because
Caused by: java.lang.RuntimeException: org.apache.cxf.jaxws.JaxWsClientProxy@20a81a61 is not a normal scoped CDI bean, make sure the bean is a normal scope like @ApplicationScoped or @RequestScoped. Alternatively you can use '@InjectMock(convertScopes=true)' instead of '@InjectMock' if you would like Quarkus to automatically make t

[2021-06-30 10:23] dufoli commented on #252
I will wait the pPR before releasing 0.9

[2021-06-30 19:09] famod commented on #252
@dufoli Ok, but beware that I will have to refactor `QuarkusCxfProcessor.build(...)` quite a bit.

[2021-06-30 22:26] famod commented on #252
Got it working! Need to do some polishing and then I'll create a PR (tomorrow or so).

[2021-07-01 09:38] dufoli commented on #124
I see that the quarkus.http.root-path is handle on rest easy side here:

https://github.com/quarkusio/quarkus/blob/f33cc7472057914ec3fdbaa8dc7edc2b78b770d2/extensions/resteasy-classic/resteasy/deployment/src/main/java/io/quarkus/resteasy/deployment/ResteasyStandaloneBuildStep.java

so in STATIC_INIT they mixed the root path and context path. So for me we have to do the same.

RootPath is in config

[2021-07-01 10:49] dufoli commented on #124
I have tried to add rootPath merged with RouteBuildItem but it do not worked....

[2021-07-01 11:08] famod commented on #252
I just realized that I should better support `Instance<SEI>` as well, working on it...

[2021-07-01 13:14] dufoli commented on #124
maybe it is something I have to fix in VertxHttpServletRequest and contextPath must contain RootPath

[2021-07-01 13:22] famod commented on #252
Done: #262

[2021-07-02 12:16] #252 closed

[2021-07-03 09:06] shumonsharif commented on #240
@dufoli @famod I'm getting started with this issue; hope to wrap up over the next week - will keep you all posted.

[2021-07-03 09:17] famod commented on #240
My two cents for now are that I find it hard to say what this extension can do automatically, in a reliable way.
I think in many cases creating a custom check is more appropriate: https://quarkus.io/guides/smallrye-health#creating-your-first-health-check

But let's see what you come up with @shumonsharif 🙂

[2021-07-03 11:55] shumonsharif commented on #240
@famod @dufoli  The more I've dug in this morning, I think you are absolutely right ... :) In the case of health check, and things like custom client wrappers, things get very complex very quickly it seems.  So, I don't think the health check is worth pursuing, at least for now ...

Having said that, I did make some good progress on the metrics piece of it.  This is actually also something I'm deb

[2021-07-05 14:45] dufoli commented on #240
maybe add a project pom with dependency can be useful to avoid to add an new dependence just for it that will not be used most of the time.

[2021-07-06 05:39] tpodg opened #264 "Initialisation of endpoints and operations"
I am trying to get schema validation working but so far without success. During the process I did some debugging and found out that the extension should hand over the implementation class to the cxf:
**CXFHandler**: factory.setServiceClass(seiClass)).

The cxf documentation is as following:
Specifies the class implementing the service.
Params:
serviceClass – the service's implementaiton class

So

[2021-07-06 07:56] dufoli commented on #264
thanks? I will merge the fix ;-)

[2021-07-06 08:06] tpodg commented on #264
No problem. If the solution is fine with you and nothing breaks, I guess the whole code block could be replaced:
[code]
with
`factory.setServiceClass(instanceService.getClass());`

I did not have a look where / how the sei is set in the first place...

[2021-07-06 08:15] #264 closed

[2021-07-06 09:34] #23 closed

[2021-07-06 12:26] #124 closed

[2021-07-06 12:27] dufoli commented on #124
it was a hard one but I finnaly found the issue and fix it. I test it locally.

[2021-07-13 04:25] gastaldi opened #268 "Quarkiverse Documentation generation is broken"
The quarkiverse docs generation is failing with:

[code]

[2021-07-13 11:35] shumonsharif commented on #268
Fixed this issue with commit https://github.com/quarkiverse/quarkus-cxf/commit/95b16734ad9fc176c27ed561e814bfd6550aad63

@gastaldi To prevent this issue from reoccurring, I'm goin to avoid the `v*` wildcard all together.  It makes much more sense to be explicit about which branches we'd like docs for, and that would mitigate this issue to some degree.

@dufoli I think this may be a good time to cl

[2021-07-14 13:45] #268 closed

[2021-07-20 14:57] famod opened #270 "Global features"
AFAICS, you cannot register a "global" feature for all clients via e.g.:
[code]
(or `quarkus.cxf.endpoint.features` for that matter)

For a DRY and KISS config approach, registering global features should be supported (and probably interceptors etc.).

On question to answer would be whether client/endpoint specific settings are _adding_ to the global ones or are _replacing_ them instead (for the r

[2021-07-26 12:56] vtdmitriy opened #273 "NTLM authentication"
Do you plan to support NTLM authentication on the client?

[2021-07-26 15:17] dufoli commented on #273
what do you mean by supporting ?
all cxf function is available and you can use configurer method to configure the bus. I have not try but something like this :
[code]
prerequisit it to add the dependency : cxf-rt-transports-http-hc-x.x.x.jar

[2021-07-27 08:51] dufoli opened #274 "document HTTPConduitConfigurer trick"
idea is to explain how HTTPConduitConfigurer can help to configure authentication...

example:
[code]

[2021-07-28 11:39] vtdmitriy commented on #273
There is no way to check yet, looks like a solution. I'm closing issue for now.
Thanks.

[2021-07-28 11:40] vtdmitriy commented on #273
There is no way to check yet, looks like a solution. I'm closing issue for now. Thanks.

[2021-07-30 08:22] wanderingfella commented on #205
I have been banging my head against the wall for the best part of a day now, and I think this is why!
I am using wsdl2java to generate client code, and when calling the service it seems to be forcing to soap 1.1 and the server only seems to support 1.2. The WSDL specifies 1.2, I have tried various things like forcing the generated webservice to be 1.2

Looking through the code today, I noticed the

[2021-07-30 09:07] famod commented on #205
@wanderingfella have you tried "kebab-case" instead?
[code]

@dufoli
`soap-binding` is not listed here: https://quarkiverse.github.io/quarkiverse-docs/quarkus-cxf/dev/properties.html

Also, are users really supposed to set a URL instead of something more descriptive like `SOAP12HTTP_BINDING`?

PS: I must admit that I'm not (yet!) using this feature in my project.

/cc @shumonsharif

[2021-07-30 11:15] famod commented on #274
FWIW, if you have clients for multiple backends, you'll likely have to use endpoint specific settings.

E.g. we are using this in our "Connector" classes (that are using the `@CXFClient`s) to configure client cert auth:
[code]
Note: `securityStoreProvider` is a custom class providing access to out custom key store and trust store.

IIRC, you can also apply configurers to specific clients, but abov

[2021-07-30 11:40] dufoli commented on #205
TODO document config element

[2021-07-30 14:02] wanderingfella commented on #205
Thanks @famod, that worked. Sorry, I was looking at the config in the code and didn't consider.
It hasn't exactly solved my issue though.

To make it work before now, I was pointing CXF at the WSDL, and at runtime it seemed to make it use Soap 1.2. Now I can configure SOAP 1.2, I have taken away the config which pointed at the WSDL.

I was hoping the runtime processing of the WSDL, was making the

[2021-08-02 14:42] antonwiens commented on #274
Thanks @famod for the info. Question regarding that: Is a new client created for each injection? I would like to inject the same client class for different endpoints with different conduit configurations and use them in parallel.

[2021-08-06 07:28] #205 closed

[2021-08-06 07:28] #274 closed

[2021-08-08 11:52] grigoni opened #278 "Locatable is incompatible with types in state XmlSeeAlso ProxyImpl"
hello

I'm developing an application that uses quarkus, camel and direct Quarkiverse-CXF calls (MTOM enabled)
macOS BigSur, quarkus 2.1.0-Final / quarkus 2.1.1-Final, GraalVM 21.2.0, quarkiverse cxf 0.9

(openjdk build is working as designed)
when building a native image of a CXF application I get following error:

Error: Field com.sun.xml.bind.v2.model.impl.TypeInfoImpl.upstream has declared type

[2021-08-08 16:03] dufoli commented on #278
is it related to native or jvm ?

[2021-08-08 16:27] dufoli commented on #278
source of the file :
https://github.com/javaee/jaxb-v2/blob/master/jaxb-ri/runtime/impl/src/main/java/com/sun/xml/bind/v2/model/impl/TypeInfoImpl.java

the issue here is that unmarshaling the message lead to issue because the class which need to be used to map the xml data do not fit. It is really a core issue. Anyway it seems to be linked to XMLSeeAlso.

To handle marshaling of object with XmlSee

[2021-08-08 20:13] dufoli commented on #278
https://github.com/javaee/jaxb-v2/search?q=newProxyInstance&type=

A search on proxy on jaxb ri to handle on cxf.

[2021-08-09 07:45] dufoli commented on #278
hmm jaxb processor already handle the locatable proxy build item for all jaxb annotation:
https://github.com/quarkusio/quarkus/blob/2f33d20cdae18c29f6c1f84f8ba62eaccdf0ad72/extensions/jaxb/deployment/src/main/java/io/quarkus/jaxb/deployment/JaxbProcessor.java#L173

I found some missing proxy, but not sure it is related to our issue :
com.sun.tools.xjc.generator.annotation.spec.XmlElementRefWriter

[2021-08-09 08:02] dufoli commented on #278
to analyse deeper:
https://github.com/javaee/jaxb-v2/blob/45360860439ab14bccf020036306b69797ee1a9e/jaxb-ri/runtime/impl/src/main/java/com/sun/xml/bind/v2/model/impl/ClassInfoImpl.java

https://github.com/javaee/jaxb-v2/blob/45360860439ab14bccf020036306b69797ee1a9e/jaxb-ri/runtime/impl/src/main/java/com/sun/xml/bind/v2/model/impl/ElementInfoImpl.java

https://github.com/javaee/jaxb-v2/blob/45360860

[2021-08-09 10:04] dufoli commented on #278
I just discover this PR : https://github.com/oracle/graal/commit/d72e67beff8bb9ebcda8ce5e40b8f552bb7eabf6#diff-5731194b93b5585f9ee61e07a1c72af18fd64a3a47dafcacb0fe155555b287ae
maybe it will fix it.

[2021-08-09 12:37] grigoni commented on #278
hello
thanks for investigating

it is happening on linux (ubuntu VM) and macOS Big Sur9

[2021-08-09 12:42] grigoni commented on #278
if there is something I can try on my side let me know, I'll be glad to help and make the issue more clear
(I am no expert in GraalVM, still confused... :-) )

[2021-08-10 06:04] dufoli commented on #278
OK it come from an exception in https://github.com/javaee/jaxb-v2/blob/45360860439ab14bccf020036306b69797ee1a9e/jaxb-ri/runtime/impl/src/main/java/com/sun/xml/bind/v2/model/annotation/LocatableAnnotation.java

So it is not wrapped.
Few possibilities :
- wrong classloader
-
- class not found in class loader.
- annotationType do not return type
- LocatableAnnotation

[2021-08-10 06:07] dufoli commented on #278
Idea to test, substitution to add log in this function...

[2021-08-10 07:35] dufoli commented on #278
@grigoni can you test with substitution:
[code]

[2021-08-10 12:21] grigoni commented on #278
thanks a lot, I tried by adding following imports (please check):

import com.oracle.svm.core.annotate.Alias;
import com.oracle.svm.core.annotate.Substitute;
import com.oracle.svm.core.annotate.TargetClass;
import com.sun.xml.bind.v2.model.annotation.Locatable;
import com.sun.xml.bind.v2.model.annotation.Quick;
import com.sun.xml.bind.v2.runtime.Location;
import org.apache.cxf.common.logging.LogUt

[2021-08-11 08:04] grigoni commented on #278
thanks a lot for rechecking, here the result when building:
Error: The value assigned to a static @Alias field is ignored unless @RecomputeFieldValue with kind=FromAlias is used: com.zurich.ch.ecm.soms.cxf.Target_com_sun_xml_bind_v2_model_annotation_LocatableAnnotation.quicks
# Printing build artifacts to: /Users/gianandrea.rigoni/IdeaProjects/Galapagos/SOMS-C18E-quarkus/target/soms-c18e-quarkus-0

[2021-08-11 08:22] grigoni commented on #278
did following changes:
    //removed final
    @Alias
    // added following info when building
    @RecomputeFieldValue(kind = RecomputeFieldValue.Kind.FromAlias)
    private static Map<Class, Quick> quicks = new HashMap<Class, Quick>();

following error on build:

Error: Field com.sun.xml.bind.v2.model.impl.TypeInfoImpl.upstream has declared type com.sun.xml.bind.v2.model.annotation.Locatable wh

[2021-08-11 11:15] dufoli commented on #278
Hmm quick is not needed. So we can just remove the field. @grigoni

[2021-08-11 12:29] grigoni commented on #278
unfortunately this is not changing the result

[2021-08-11 19:01] dufoli commented on #278
bad news. Ok so it is coming from build. So I guess I can not log with that.
https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/annotation/AnnotationSubstitutionType.java

is the graalvm class which wrap annotation. The famous $$ProxyImpl come from that. a method getOriginal() get the original annotation. It is maybe a lack of getOriginal()

[2021-08-13 07:31] grigoni commented on #278
hello, I'm trying to create a reproducible test, until now I only get working stuff and not same error (murphy's law...)

[2021-08-13 10:05] dufoli commented on #278
I think you need fruit class ans inherited class banana. Then xmlseealso on parent class to point to child.
Then used it in param or return of method.
Is it the right use case?

[2021-08-16 21:41] famod commented on #274
@antonwiens sorry, your question fell off my radar.

`@CXFClient` beans are `@Dependent` so each injection point should receive another instance and there fore also another conduit.
You should be able to verify easily by printing `System.identityHashCode(conduit)` (or similar).

[2021-08-17 06:07] dufoli commented on #274
@famod not sure if it is good to have new instance or share the same one. Share willy reduce memory. But it may have impact.

[2021-08-17 08:53] dufoli commented on #278
can still not reproduce ?
what is your jdk version ?

[2021-08-17 12:36] argenstijn commented on #278
Hi,

I can reproduce it again with my simple test project.

quarkus: 2.1.2.Final
linux graalvm: 21.2.0
JDK version : 11

And it works again when i have the following replacement:

@TargetClass(className = "com.sun.xml.bind.v2.model.impl.TypeInfoImpl", onlyWith = Target_com_sun_xml_bind_v2_model_impl_TypeInfoImpl.Selector.class)
@substitute
final class Target_com_sun_xml_bind_v2_model_impl_TypeInfo

[2021-08-18 08:00] argenstijn commented on #278
see oracle/graal#2720 for the zip where you can reproduce the error.

[2021-08-18 11:53] grigoni commented on #278
I was busy with other projects sorry, I'm still trying the reproducer, unfortunately my efforts didn't produced a breaking build also when I add to new project the original wsdl that I cannot share

[2021-08-23 15:48] NKame opened #281 "Can't make a pure client"
Context: building a command line batch in Quarkus, using quarkus-cxf for the SOAP client part.

Expectation: the batch is not a server, so it should not listen to any socket, and even less run a HTTP server.

Problem: the HTTP server is launched, setting quarkus.http.host-enabled=false fails with java.lang.IllegalArgumentException: Must configure at least one of http, https or unix domain socket

[2021-08-23 16:26] dufoli commented on #281
hmmm if we need to support both, we need to split server and client module . And of course common module.
@shumonsharif @famod @Dufgui

[2021-08-23 16:37] famod commented on #281
A split would certainly be the clearest but also the most elaborate approach.
This might be an alternative, but I'm not sure it would mean less work because the groundwork is still a TODO: https://github.com/quarkusio/quarkus/issues/14927#issuecomment-903834399

[2021-08-23 18:46] shumonsharif commented on #281
@NKame 's issue of disabling the HTTP server looks like it may possibly be related to a Quarkus regression:  https://github.com/quarkusio/quarkus/issues/19370

[2021-08-23 22:46] NKame commented on #281
Well, it seems to come and go, the basis is that as soon as there is some mandatory dependency towars quarkus-vertx-http, by whatever module, the bootstrapping of HTTP server will kick in. And depending on the version, asking to disable HTTP either is almost correct (still the sequence is 90% done) or fails badly.

[2021-08-28 08:51] grigoni commented on #278
this is great news, thanks for finding and solving the issue!

[2021-08-28 09:05] dufoli commented on #278
I help to understand issue but fixing was done by graal team ;-) it was too complexe for me.

[2021-08-28 09:08] grigoni commented on #278
I'm very happy and looking forward to make our app that uses CXF completely native

[2021-08-30 12:30] NKame commented on #281
As I explained it's quite simple: depending on the versions, it's working or not, I suppose most of the users don't try to use it because of this reliability problem and put quarkus.http.port=0 to not be bothered with it. As for excluding the dependency I've done several tests: most of the times it breaks during bootstrapping.

[2021-08-30 18:05] shumonsharif commented on #281
Thanks @NKame, I was hoping there may be some less complex workaround to address the issue.  I did some digging, and it seems the `quarkus.http.host-enabled` doesn't play nice with `quarkus-vertx-http` in the classpath.  Short of splitting server and client modules as per @dufoli , or possibly the alternative mentioned in https://github.com/quarkusio/quarkus/issues/14927#issuecomment-903834399 by

[2021-08-30 21:47] NKame commented on #281
Well, it's a very low priority issue. I submitted it just in case some other people were wondering wether this has to be expected or not.

[2021-09-10 12:40] vtdmitriy commented on #273
I tried the proposed method in practice, but there were problems..
When using the latest versions of cxf-rt-transports-http-hc (for example 3.4.4, which is used in the current version of quarkus-cxf), the conduit.getHttpAsyncClient () method returns CloseableHttpAsyncClient, and the DefaultHttpAsyncClient class is deprecated.
Is there a way to set attributes for NTLM authentication in this case? I

[2021-09-13 15:28] shumonsharif commented on #273
@vtdmitriy I have no good way of testing anything I suggest, but based on the [CXF docs here](https://cxf.apache.org/docs/asynchronous-client-http-transport.html), something like the below may possibly work for you?

[code]

[2021-09-13 22:27] famod commented on #281
I created https://github.com/quarkusio/quarkus/pull/20119 to fix `quarkus.http.host-enabled` w.r.t. `Must configure at least one of http, https or unix domain socket`. Let's see how it goes.

[2021-09-14 06:52] vtdmitriy commented on #273
Tried the above code, it results in an error: java.io.IOException: Authorization loop detected on Conduit" ... "on URL" ... "with realm" null ".
But what is most interesting, I found NTLM authentication works out of the box, when setting the login password through the properties
quarkus.cxf.client.test-client.username = test
quarkus.cxf.client.test-client.password = test

[2021-09-14 10:19] shumonsharif commented on #273
Based on the CXF source code for where this exception is thrown: https://github.com/apache/cxf/blob/cxf-3.4.4/rt/transports/http/src/main/java/org/apache/cxf/transport/http/HTTPConduit.java#L1939

        // If we have been here (URL & Realm) before for this particular message
        // retransmit, it means we have already supplied information
        // which must have been wrong, or we wouldn't

[2021-09-17 20:32] famod commented on #281
https://github.com/quarkusio/quarkus/pull/20119 was merged and will be part of Quarkus 2.3.0 and possibly also 2.2.4.

[2021-10-04 16:08] sfauvart opened #292 "WSAddressingFeature in native mode"
I don't known if is it a quarkus-cxf problem or not but when I try to use the WSAddressingFeature on my project and when I build in native mode I get this error :

[code]

Support for this feature is planned for the future?
Thanks.

[2021-10-16 12:05] shumonsharif commented on #273
Hi @vtdmitriy - I am closing this issue, given you have a workaround that seems to address the NTLM authentication, and both @dufoli and I have suggested some alternative ways as well.  Please feel free to reopen it if needed!

[2021-10-16 12:05] #273 closed

[2021-10-16 12:17] shumonsharif commented on #281
Quarkus-CXF 0.10.0 is out, and uses Quarkus 2.3.0.Final.

@NKame Based on @famod's fix, setting `quarkus.http.host-enabled=false` should address this issue, so I'm closing it for now, but please feel free to reopen it if you'd like to.

[2021-10-16 12:24] famod commented on #281
I think we should add a note to the docs.

[2021-10-16 12:28] shumonsharif commented on #281
Good point @famod , reopening this issue, will close once the docs have been updated.  Thanks for the fix!

[2021-10-18 08:14] pantaoran commented on #172
Hi @LorenzoBono , I have the same problem you described in this issue. Last time you wrote: "I had to exclude all java ws libs an now its working."
What did you mean by "exclude"? Exclude from what?

[2021-10-18 18:59] shumonsharif commented on #172
@pantaoran I'm happy to help if you are able to share a sample project which demonstrates the issue.

[2021-10-24 17:25] shumonsharif opened #300 "Fix broken build for upgrade to Quarkus 2.4.0.Final"
See #297 for broken build details.

[2021-10-24 17:36] #300 closed, assigned to shumonsharif

[2021-10-26 11:43] vsevel opened #305 "Runtime initialization for org.apache.cxf.attachment.ImageDataContentHandler"
After upgrading to `2.4.0/0.10.0` I had to add: `--initialize-at-run-time=org.apache.cxf.attachment.ImageDataContentHandler` for the application to work in native.
If not, some exceptions are thrown at native build time related to `java.awt` classes.

For instance with `--trace-class-initialization=java.awt.Image`, the build fails with:

[code]

[2021-11-08 16:29] grigoni commented on #278
native compilation completes when using 21.3.0
thanks a lot!

[2021-11-08 16:29] #278 closed

[2021-11-09 15:59] demeureg opened #311 "Managing x-forwarded headers"
Hello,

First of all, thanks for your work, this extension is really making the job.

Is there a way to manage x-forwarded-headers? If not, can I have advice implementing this feature?

CXF servlet manage them using a flag, authorizing application to be deployed behind an API gateway, and looks like Quarkus has already the capability to do this (https://quarkus.io/guides/http-reference#reverse-pro

[2021-11-09 17:01] shumonsharif commented on #311
Hi Guillaume, I just wanted to make sure I got your question ... you are looking to be able to turn on [this flag](https://github.com/apache/cxf/blob/cxf-3.4.5/rt/transports/http/src/main/java/org/apache/cxf/transport/servlet/AbstractHTTPServlet.java#L125) or achieve the equivalent in the extension?

The extension currently does not support it, but in case you'd like to take it on, PRs are very we

[2021-11-10 08:13] demeureg commented on #311
Hello and thanks for your reply. Yes, I would have the same behaviour with this extension.

Some client require to have the right path to the endpoint. If not, these client cannot reach the service because we cannot define service URL.

When I use the CXF servlet, if headers are present, the service URL is correct (example below):
[code]

I though it was enough to add these configuration into Quar

[2021-11-10 20:12] shumonsharif commented on #311
Hi Guillaume, apologies but I am a little unsure as to the end goal; are you just trying to control the service URL in the WSDL because you are behind a reverse proxy?  That's the impression I'm getting from your example; if that is the case, have you considered using the `published-endpoint-url` property?

[code]

[code]

I will take a look at this issue a little deeper later this week!

[2021-11-10 22:24] shumonsharif commented on #311
I think I got it working, but need your help testing as I don't have a proper reverse proxy setup.

Can you check out the [x-forwarded-headers](https://github.com/quarkiverse/quarkus-cxf/tree/x-forwarded-headers) branch and let us know your thoughts?

[2021-11-11 10:12] demeureg commented on #311
Hello @shumonsharif,

i will try this today, the implementation sounds great.

The published endpoint url cannot be used in this use case because we have multiple proxies with differents URLs so WSDL has to be dynamic (for memories, the client cannot modify the service url 😭 ).

Thanks for your time and explanation.

Regards

[2021-11-11 16:09] shumonsharif commented on #311
Thanks so much Guillaume, for your help with describing the use case, and the testing support.

We need to add some unit tests and though it's a relatively low impact change, it would be helpful to get a quick code review with @dufoli and/or @famod (giving you both a heads up) before we merge into master.

Guillame, you're most welcome to contribute / submit a PR for unit tests (let me know if so)

[2021-11-15 12:59] #311 closed

[2021-11-15 13:41] demeureg commented on #311
Hello,

Sorry the late response, I was working on test coverage this weekend, but i didnt achieve to make it work.

Thanks you for your time on this feature, it will be useful for our usage.

Regards

[2021-11-17 11:02] darkeagle1337 commented on #305
When can we expect the next release?

[2021-11-18 01:13] shumonsharif commented on #305
I believe we're due for one, will try to get it out this weekend.

[2021-11-21 07:59] shumonsharif commented on #305
Closing this issue, release 0.11.0 will be out shortly.

[2021-11-21 07:59] #305 closed

[2021-11-23 13:03] shumonsharif commented on #248
Hi @mickroll @famod @dufoli I may have put together a fairly trivial workaround to address this; it leverages custom injection of fields into the test classes, and is generic enough to be applied to mock any CXFClient instance.

Would you kindly share any thoughts on this; whether it is a feasible workaround?  Does it address the core concerns?

[code]

[code]

[code]

[2021-11-24 21:33] famod commented on #248
@shumonsharif
Thanks for taking a look!

I haven't tried it out, but I don't think it would replace the respective client in other classes than the test class?
Imagine a `Connector` class in `main` that gets the client injected and that provides some coarser grained methods, e.g. to void soap/jaxb binding classes from leaking into the core domain of your app. What you typically want to do (well, w

[2021-11-25 10:46] shumonsharif commented on #248
Makes sense @famod; what I proposed would only work for simper use cases, such as injecting respective clients directly into the test classes.  Will definitely need to give this some deeper thought - as @dufoli mentioned previously, CXF is generating the classes we'd need to enrich, which just seems cumbersome.

[2021-11-28 15:41] shumonsharif commented on #248
@famod Interestingly enough, I just tried out the use case you described using `@InjectMocks` and it appears to work with the proposed workaround.  Assuming we have the following class:

[code]

The following test case works with the mocked `CXFClient` (I was not expecting it to previously due to the custom `@InjectMockCXFClient` annotation):

[code]

Would you kindly take a look once you have som

[2021-11-28 17:32] famod commented on #248
I should have been more precise:

Yeah, when doing the injection "manually", this will work:
[code]

What I meant won't work is:
[code]
Here, ArC will use the real client, not the mocked one (because it doesn't know about the mock).

The `@InjectMocks` workaround can become more complicated/verbose when there are other non-mocked beans that need to be injected into CalculatorService.
Furthermore,

[2021-11-29 07:21] AndreyChukhlebov opened #318 "Grpc problem invoke @RequestScoped bean in vertx.executeBlocking"
Problem when trying to implement a blocking ServerInterceptor.
` @Override
    public <ReqT, RespT> ServerCall.Listener<ReqT> interceptCall(ServerCall<ReqT, RespT> call,
                                                                 Metadata headers,
                                                                 ServerCallHandler<ReqT, RespT> next) {

        vertx.executeBlocking(new Handler<

[2021-11-29 22:06] shumonsharif commented on #318
@AndreyChukhlebov Is this an issue with the CXF extension?  On initial glance, I don't see how it's tied to this extension?

[2021-11-29 23:06] famod commented on #248
I need to take more time to have a longer look, but it appears to me that we need the `InjectionPoint` (which is forcing us to use `@Dependent`) "only" to detect wheter `@CXFClient` is present: https://github.com/quarkiverse/quarkus-cxf/blob/70838322872be170ce2942901989ac2d264499fc/runtime/src/main/java/io/quarkiverse/cxf/CxfClientProducer.java#L181-L183

So I've been thinking: What if we collect

[2021-11-30 06:54] AndreyChukhlebov commented on #318
https://github.com/AndreyChukhlebov/cache
here you can reproduce
The problem is @RequestScoped creates context in GrpcRequestContextGrpcInterceptor
    and is stored in RequestContext.currentContext and it is ThreadLocal, so the initialized beans are not visible further on the blocking thread.

    The solutions I see
            1) @Blocking blocks everything from GrpcRequestContextGrpcIntercepto

[2021-11-30 07:02] AndreyChukhlebov commented on #318
https://github.com/AndreyChukhlebov/cache
here you can reproduce
The problem is @RequestScoped creates context in GrpcRequestContextGrpcInterceptor
    and is stored in RequestContext.currentContext and it is ThreadLocal, so the initialized beans are not visible further on the blocking thread.

    The solutions I see
            1) @Blocking blocks everything from GrpcRequestContextGrpcIntercepto

[2021-11-30 13:12] shumonsharif commented on #318
@AndreyChukhlebov Your issue does not appear to be relevant to this extension in any way.  I also don't see any reference to this extension in the git repo you shared.  May I suggest you open an issue in the main Quarkus project?

[2021-12-01 12:25] shumonsharif commented on #248
Hey @famod I think this may work, and possibly our best option - it is also indeed a major change with impacts to existing functionality.  I will also try to dig deeper based on your suggestion.

I believe impact wise with switching to `@ApplicationScoped` we may need to watch out for some of the issues described here:
https://cxf.apache.org/faq.html#FAQ-AreJAX-WSclientproxiesthreadsafe%3F

Were t

[2021-12-01 23:02] #318 closed

[2021-12-01 23:34] famod commented on #248
Yes, thread-safety is one concern. I actually used `thread.local.request.context` for a long time in a previous project.

Another implication is that unwrapping the client proxy and modifying e.g. the Conduit in a `@PostConstruct` of one bean will then have a global effect. Of course, this isn't relevant if the client is only injected in one place.
Speaking of ClientProxy, I _suppose_ people would

[2021-12-02 15:15] davorl-cedacri opened #323 "Invalid URL generated in XML "import""
Starting from 0.10.0, when publishing a webservice with the _targetNamespace_ attribute of the `@WebService` annotation, XML schema is not embedded within the WSDL but linked via _import_; the problem is that the _import_ statement contains an invalid URL, such as this one:
`<wsdl:import location="http://localhost:8080/soap/test?wsdl?wsdl=TestService.wsdl" namespace="mynamespace"> </wsdl:import>`

[2021-12-02 17:17] shumonsharif commented on #323
Hi @davorl-cedacri Thanks for the issue!  I believe the behavior you're seeing is related to:

https://cxf.apache.org/faq.html#FAQ-Thegeneratedwsdl(GETrequestonthe?wsdladdress)doesn'tcontainthemessages,types,portType,etc...WhatdidIdowrong?

Your best option is to set the targetNamespace to the same value in both the service interface **and** service implementation `@WebService` annotations.  I thi

[2021-12-03 09:46] davorl-cedacri commented on #323
Thank you @shumonsharif!
In my case changing the targetNamespace is not a viable option, as I'm porting an existing application from Thorntail to Quarkus. I'll use the "published-endpoint-url" workaround until a solution to the invalid URL issue is found.

[2021-12-03 15:58] shumonsharif commented on #323
Hey @davorl-cedacri I did not follow why porting from Thorntail to Quarkus would matter -- the suggestion was not to change your targetNamespace value; it was to set the same value in BOTH the interface and implementation class ... I believe that should not impact the actual API you are exposing?  Not entirely sure though, will need to dig in further.

[2021-12-03 16:20] davorl-cedacri commented on #323
Ooops, I misunderstood that FAQ entry, sorry.
m (_ _) m
Setting both the interface and the implementation to the same targetNamespace works perfectly, thank you!

[2021-12-07 12:54] rob-spoor opened #327 "A synthetic bean is already registered with injected CXFClient"
Situation:
* We use `cxf-codegen-plugin` to generate code from an existing WSDL.
* We inject the generated interface as follows:
[code]
* We have the following in our `application.properties`, where `org.example.ws.Service` is the generated interface:
[code]
* We have no implementing class, as we are only consuming the service.

When we start Quarkus, we get the dreaded "A synthetic bean is alread

[2021-12-07 14:21] rob-spoor commented on #327
We have found the issue. Part of the code was moved to a separate library, including the generated code. However, the WSDL was left intact. For reasons we don't know yet, the code generation was executed for the WSDL even though no plugin execution existed for it. As a result, the generated WSDL classes existed twice: once in the library, and once in the target folder of the project itself. This e

[2021-12-07 14:21] #327 closed

[2021-12-20 15:01] renanwillian opened #332 "'No Java extensionType found' error when running as an package jar"
I have a application that is running OK in Quarkus Dev mode but fails as an package jar.

I've got the following error when running the jar:
[code]

I added the following config to provide additional logging details:
[code]

Then I was getting the following errors when executing the generated jar:
[code]

It seams like the classes are missing from JAXBContext, how can I fix it?
It could be related

[2021-12-20 16:20] shumonsharif commented on #332
Hi @renanwillian Thanks for the issue; from an initial glance, the DEBUG level statements can safely be ignored.  Wanted to confirm a few things:
- Is your package application running, or does it terminate when you get the exception?
- Are you using WS Addressing, and are the relevant libraries in the classpath?
- Are you able to create and attach a reproducer?

[2021-12-20 21:37] renanwillian commented on #332
Hi @shumonsharif Thanks for the reply

The application keeps running after the exception, I can still send soap requests but with blank response (http 202).

Yes, and that was the problem after all, adding the following dependency solve the issue:
[code]

The thing that still bugs my mind is that was running fine in dev mode, shouldn't dev mode have the same issue?

[2021-12-20 21:37] #332 closed

[2021-12-21 01:49] shumonsharif commented on #332
You are correct, dev mode should have had the same issue.  Given the addition of the `cxf-rt-ws-addr` dependency resolved the issue, it may have been some sort of local misconfiguration all along - hard to tell.

Please feel free to reopen in case you are able to put together a reproducer.

[2022-01-08 11:48] EmreKp opened #340 "WSS4J dependencies"
Hello,

In order to use `wss4j`, should we have only add a dependency like `cxf-rt-ws-security`? Is there any other way to use it, or is this the easiest way? If this is only way, documentation also should be updated.

Thanks

[2022-01-08 12:43] shumonsharif commented on #340
Hi @EmreKp One would only need to add the `cxf-rt-ws-security` dependency for CXF WS-Security support.  The `wss4j` dependencies should get pulled in automatically, given they are [compile time](https://mvnrepository.com/artifact/org.apache.cxf/cxf-rt-ws-security/3.5.0) dependencies.

There are examples of how to leverage the CXF WS-Security framework here:
https://github.com/apache/cxf/tree/3.5.x

[2022-01-08 13:08] shumonsharif commented on #340
Something to note is that only the programmatic WSS4JInterceptors are currently supported.  Actions like Timestamp, UsernameToken, Signature, Encryption, etc., can be applied to the interceptors by passing the appropriate configuration properties.

[2022-01-08 15:02] EmreKp commented on #340
Thanks for reply, then I will submit PR with updated documentation.

[2022-01-08 15:02] #340 closed

[2022-01-20 16:48] seckinsq opened #345 "Invalid URL generated in WSDL for included XSD files"
We are having a similar issue as #323 but we are using our own WSDL file and we use some include and imports in WSDL or XSD files. When we want to retrieve wsdl from service (?wsdl), the URL used for _schemaLocation_ on _xs:include_ is not valid.

`<xs:include schemaLocation="http://localhost:8080/soap/CxftestSoapService?wsdl?xsd=cxftest.xsd"/>`

It seems like application is adding path query for

[2022-01-20 18:55] shumonsharif commented on #345
Hi @seckinsq Thanks for the issue.  Did you by any chance try exploring the `published-endpoint-url` property as a workaround?  I believe you should be able to set that value to either an _absolute_ or _relative_ URL ... can you please try and let us know your findings?

[2022-01-20 20:04] seckinsq commented on #345
Hi, @shumonsharif thank you for fast response.

We tried absolute URL and it was OK but we cannot use it as there are many environments where this application will be running. All will have different host (and there may be different versions)

I have tried your suggestion with relative URL :
`quarkus.cxf.endpoint."CxftestSoapService".published-endpoint-url=/soap/CxftestSoapService`

For http://loc

[2022-01-24 11:14] odellamaggiore opened #346 "Native build using @RolesAllowed, quarkus-security and quarkus-cxf"
Given a simple app (built from quarkus-getting started) using :
- quarkus-cxf
- quarkus-security
- @RolesAllowed annotation on a soap endpoint

Soap Endpoint:
[code]

Dependencies:
[code]

In native mode, the application fails to start :

[code]
If we remove the @RolesAllowed annotation, or the quarkus-security import, it works fine.
This issue appends only in native mode.

Example project to repr

[2022-01-25 14:55] shumonsharif commented on #346
Hi @odellamaggiore A couple questions for you.

1. Does **@RolesAllowed** work as it should in JVM mode?  I mean besides just starting up cleanly?  We've had some testing done in the past with https://github.com/quarkiverse/quarkus-cxf/issues/109, so just linking that here for reference.
2. You imported quarkus-security and not an actual security extension, so I'm left wondering if there's any dif

[2022-01-25 16:11] odellamaggiore commented on #346
Hi @shumonsharif, thanks for your feedback. Here are my answers:

1. Yes, in JVM mode the @RolesAllowed works fine.

2. You're right. In my real project I use the quarkus-elytron-security extension and it brings quarkus-security as a transitive dependency. But I did the job to isolate each transitive dependency to identify the one which create the issue and it is quarkus-security. So I just includ

[2022-01-26 00:27] shumonsharif commented on #346
Hi @odellamaggiore It appears the autogenerated `org.acme.getting.started.GreetingSoapImpl_Subclass` type is getting stripped from the native image.

It may be a while before I can dedicate some solid blocks of time to investigate (this is not going to be an easy one), but I wanted to share a simple workaround you can try, in case it helps you.

Introduce a `src/main/resources/reflection-config.js

[2022-01-26 02:04] shumonsharif commented on #346
I believe this is most likely the the root cause for this issue:  https://github.com/quarkusio/quarkus/issues/7507

[2022-01-29 19:09] #323 closed

[2022-01-29 19:11] #345 closed

[2022-01-29 19:11] #346 closed

[2022-01-31 20:04] wanderingfella opened #354 "CXF WS-Security native mode support"
Hi,

I am having an issue using ws security in native mode.
I am using
`'io.quarkiverse.cxf:quarkus-cxf:0.13.0'`
and also added
`'org.apache.cxf:cxf-rt-ws-security:3.4.4'`
I also had to add
`com.sun.xml.messaging.saaj:saaj-impl:1.5.3`

I think to make it work in JVM mode.

It works fine in JVM mode, but having an issue when running it in native mode.

The top of the stack trace is below

`Caused b

[2022-01-31 22:53] shumonsharif commented on #354
Hi @wanderingfella The SAAJ (SOAP with Attachments API for Java) - as the name indicates - is used for attachments and may possibly not be required for WS-Security.  If it is indeed required, then the `cxf-rt-ws-security` dependency I think should pull it in.

My guess is that the issue you are seeing may be due to a dependency conflict.  You are using the wrong version of `cxf-rt-ws-security`.  I

[2022-02-01 08:04] wanderingfella commented on #354
Hi @shumonsharif .

Thanks for your suggestions.
I have removed
`com.sun.xml.messaging.saaj:saaj-impl:1.5.3`
and changed to
`org.apache.cxf:cxf-rt-ws-security:3.5.0`

I now get the error in JVM mode

`org.apache.cxf.binding.soap.SoapFault: Problem writing SAAJ model to stream: Unable to create message factory for SOAP: Unable to create SAAJ meta-factory: Provider com.sun.xml.internal.messaging.saa

[2022-02-01 08:18] wanderingfella commented on #354
[dependencies.txt](https://github.com/quarkiverse/quarkus-cxf/files/7976843/dependencies.txt)
I have attached the gradle dependencies.
I am currently on version 1.13.7.Final of Quarkus. I appreciate that's not the latest, but had trouble trying to upgrade, so I am hoping that's not the issue.

@shumonsharif  thanks again for your time.

[2022-02-01 08:35] wanderingfella commented on #354
I can't see where a saaj sun implementation is being brough in my CXF.
When running in JVM mode, without saaj as an added dependency, it seems to be falling over here.

`Caused by: javax.xml.soap.SOAPException: Unable to create message factory for SOAP: Unable to create SAAJ meta-factory: Provider com.sun.xml.internal.messaging.saaj.soap.SAAJMetaFactoryImpl not found
	at javax.xml.soap.MessageFact

[2022-02-01 11:32] shumonsharif commented on #354
Hi @wanderingfella Are you able to provide a reproducer with a minimal set of dependencies?  Or confirm whether the below configuration looks right - I can try to put one together.

- JDK version 11
- Quarkus 1.13.7.Final
- Quarkus-CXF 0.13.0

However, I will caution that you have a set of of old/new and conflicting dependencies - a much better approach would be to do a clean upgrade - the Quarkus

[2022-02-01 12:00] wanderingfella commented on #354
Hi @shumonsharif  that looks right, I have just upgraded to quarkus 2.0.0, and look to be getting the same issue.
I am also going to try 2.6.3.Final.

It might take me a bit of time to get a reproducer together :(

I am also using this git plugin.

https://github.com/bjornvester/wsdl2java-gradle-plugin

This brings in these dependencies, that might be problematic, but not sure yet.

`jakarta.xml.w

[2022-02-02 09:36] odellamaggiore commented on #346
@shumonsharif thanks for the fix ! Issue solved for me.

[2022-02-02 22:21] shumonsharif commented on #354
Hi @wanderingfella I attempted to put together a simple Gradle based reproducer [ws-security.zip](https://github.com/quarkiverse/quarkus-cxf/files/7990388/ws-security.zip); WS-Security appears to work as expected in native mode. I did need to add the `saaj-impl` dependency as you had suggested.  You'll notice some auto-generated and custom files under `src/main/resources/META-INF/native-image` tha

[2022-02-06 17:52] shumonsharif commented on #354
Hi @wanderingfella Here's an updated [ws-security.zip](https://github.com/quarkiverse/quarkus-cxf/files/8010782/ws-security.zip) Gradle reproducer with reworked and more 'appropriate' dependencies, such as the Jakarta web services implementation.  After sleeping on it for a few days, I think the extension should support WS-Security in native mode, so I'm going to look into getting that integrated.

[2022-02-07 11:09] wanderingfella commented on #354
hi @shumonsharif
Apologies, I have been away (covid) .
Thanks for looking into this, I will take a look at your suggestions and feedback.

I am also more than happy to test any new integrations.

[2022-02-07 20:45] wanderingfella commented on #354
Just thought i would add, I am using an out interceptor (WSS4JOutInterceptor) and using it for a generated client.
I am still working through, adding the things I need from the example provided.

Currently, at runtime, I am getting this issue.
`<html>
<body>

java.util.MissingResourceException: Could not load any resource bundle by com.sun.org.apache.xerces.internal.impl.msg.DOMMessages | java.uti

[2022-02-07 22:02] wanderingfella commented on #354
Next issue is

javax.xml.ws.WebServiceException: org.apache.commons.logging.LogConfigurationException: java.lang.ClassNotFoundException: org.apache.commons.logging.impl.LogFactoryImpl (Caused by java.lang.ClassNotFoundException: org.apache.commons.logging.impl.LogFactoryImpl)\n\tat org.apache.cxf.jaxws.JaxWsClientProxy.mapException(JaxWsClientProxy.java:193

Will take a look at the example. I did

[2022-02-08 14:37] shumonsharif commented on #354
Hi @wanderingfella I think you should take a deeper look at your dependencies; unfortunately I'm not familiar enough with Gradle to make suggestions, but I believe you can compare the dependency tree between the working sample I provided and what your project has.  Maybe something like `./gradlew -q dependencies --configuration runtimeClasspath` may help.  That may help at least eliminate any pote

[2022-02-08 15:28] shumonsharif commented on #354
Indeed, you risk bloating up your native image when using `./gradlew test` for coverage for the tracing agent.  My preference has always been to manually run though the various flows, using tools like SoapUI.

I did not dig in too deep, but for reasons unknown to me, the tracing agent did not pick up any of the things defined in the custom reflection config - I needed to manually add those.

[2022-02-08 16:33] wanderingfella commented on #354
Sadly, as it's a soap client I am testing in a AWS Lambda, I don't think I can spin it up locally and run through the scenarios :(

The test approach would have been great, if it wasn't full of lots of bloat. The bloat in this instance does seem to break the native building process.

I feel like I am starting to come to the end of the road on this.

[2022-02-08 17:09] shumonsharif commented on #354
Have you already considered the below; I think it should address your needs?
https://quarkus.io/guides/amazon-lambda#live-coding-and-unitintegration-testing

"While running in Quarkus Dev Mode, you can feed events to it by doing an HTTP POST to http://localhost:8080/. The mock event server will receive the events and your lambda will be invoked. You can perform live coding on your lambda and chang

[2022-02-08 17:23] shumonsharif commented on #354
Nevermind, it seems there's no easy way to show the actual Java commands getting executed when running dev mode.  I thought that may get printed to the console, in which case you could just plug in the tracing agent.

[2022-02-08 17:29] shumonsharif commented on #354
Digging in further, it should indeed be achievable ... here's the maven based solution, though I'm sure something similar can be done in Gradle.
https://stackoverflow.com/questions/64450394/how-to-use-the-graalvm-native-image-agent-with-quarkus

[2022-02-08 17:30] wanderingfella commented on #354
I did look at that briefly, but I think it needed docker (I am on virtualised windows  - I think it's a pain to set Docker up).

I have a set of reflection config which builds and runs, but falls over due to reflection issues.

I also have the full set including testing stuff, which I am hoping is complete (too complete!).

Between the two, perhaps I can pull something together. It's just the tria

[2022-02-08 17:41] shumonsharif commented on #354
Just for the sake of completeness, and in case others stumble on this issue - docker is only needed for the [SAM CLI](https://quarkus.io/guides/amazon-lambda#testing-with-the-sam-cli), and definitely shouldn't be for Quarkus dev mode.

You sound extremely close to having a working solution - hope it all works out for you!

[2022-02-08 18:19] wanderingfella commented on #354
I did try it (very briefly) so it might be an erroneous message.
I did get
`2022-02-08 17:36:48,361 ERROR [org.tes.doc.DockerClientProviderStrategy] (build-2) Could not find a valid Docker environment. Please check configuration. Attempted configurations were:
2022-02-08 17:36:48,361 ERROR [org.tes.doc.DockerClientProviderStrategy] (build-2)     NpipeSocketClientProviderStrategy: failed with excep

[2022-02-08 18:29] wanderingfella commented on #354
Just got something working. Hurray!
Thanks so much for your help.

I need to do more testing but the main flow works.

Look forward to the later release and happy to be involved in testing it.

[2022-02-10 09:00] corrantho opened #356 "WS-Security with injected client"
Hello,

I'm trying to use WS-Security with a client that has been injected with @CXFClient

My use case is the following: I have two services MyDataService and MyBackendService. Both are exposed in SOAP and protected with WS-Security. When I individually call each service (with SOAP UI), everything is fine and the WS-Security header is required and validated.

Now I would like to call MyBackendSer

[2022-02-10 13:18] shumonsharif commented on #356
Hi @corrantho Your `application.properties` doesn't look quite right.  You should be using `quarkus.cxf.client.*` to set the outbound interceptor, not `quarkus.cxf.endpoint` as you currently have.  Something like this may work:

[code]

Also, you may have some luck identifying such issues if you enable the `LoggingFeature` and bump up the log levels, as shown below:

[code]

[2022-02-10 13:42] shumonsharif commented on #356
Just noticed that the WS-Security docs predate the introduction of `quarkus.cxf.client.*` properties, please feel free to submit a PR if you like.
https://quarkiverse.github.io/quarkiverse-docs/quarkus-cxf/dev/ws-security.html#ws-security-client

[2022-02-11 14:01] shumonsharif commented on #356
@corrantho I believe there's some CDI issues in your code (unrelated to this extension), though I did not dig in too deep.  I was able to get to a working state by making some minor updates:

- Remove `getWSS4JInInterceptor()` and all references in your data service - I think this should be optional though
- Move `getWSS4JOutInterceptor()` from `MyClient` to `MyDataService`
- Add `@ApplicationScop

[2022-02-11 14:35] corrantho commented on #356
Thanks a lot of your time.

After making the changes you suggested I came back to the initial state of the code I had when I posted this issue.
And he still did not work.

However, after digging into the error logs I found an interesting error message:

[code]

In `getWSS4JOutInterceptor()` I had to change this configuration:

`outProps.put(ConfigurationConstants.PASSWORD_TYPE, WSConstants.PASSWOR

[2022-02-11 14:48] shumonsharif commented on #356
Yes, please, a PR would be most welcome!  Thanks!

[2022-02-11 15:16] corrantho commented on #356
I'm just still wondering why we have to put the `getWSS4JOutInterceptor()` in the WebService class whereas it is mentioned to put it in the client class in the documentation (which would make sense since it concerns the client).

Is there anything wrong with my client?

I attached the working code as suggested.

[poc-ws-security.zip](https://github.com/quarkiverse/quarkus-cxf/files/8049633/poc-ws-

[2022-02-11 17:41] shumonsharif commented on #356
Hey @corrantho the documentation was intended to provide a sample code to implement WS-Security, not to cover any intricacies of CDI.  You don't _have to_ put `getWSS4JOutInterceptor()` in the client class.  You could, for example, do something like this, and it should work just as well.

[code]

The issue with having `getWSS4JOutInterceptor()` in your `MyClient` class is that the class becomes bo

[2022-02-13 12:47] corrantho commented on #356
OK I see.
Thanks again :).

[2022-02-16 13:08] shumonsharif opened #362 "Contract First SOAP Attachments - broken build"
### Discussed in https://github.com/quarkiverse/quarkus-cxf/discussions/361

<div type='discussions-op-text'>

<sup>Originally posted by **jwieser** February 16, 2022</sup>
Hello,

first of all - thanks for providing this extension!

I´d like to implements a Contract First WebService. The code generation works well, but the build fails with the following exception:

[code]

I figured out that it i

[2022-02-16 16:00] #362 closed

[2022-03-09 15:40] shumonsharif opened #371 "CXF logging native mode updates"
`LoggingInInterceptor` and `LoggingOutInterceptor` are deprecated.

Updated `cxf-rt-features-logging` does not work in native mode, as per #370 .

[2022-03-11 09:56] Aviss opened #373 "@RequestScoped Webservice not working properly"
I'm trying to inject a `@RequestScoped` Bean into my Webservice.
However trying to invoke any method in `someService` produces a `ContextNotActiveException`
Making the Webservice itself `@RequestScoped` instead produces a `ContextNotActiveException` as soon as the WebMethod is called.
[code]
I found [this issue](https://github.com/quarkiverse/quarkus-cxf/issues/106) which states essentially the sa

[2022-03-11 11:30] shumonsharif commented on #373
Hi @Aviss There shouldn't be any additional configurations required.  Everything appears to work fine using the setup below.  Please attach a reproducer if you need help, could be something unique to your configuration?

[code]

[code]

[code]

[2022-03-11 11:52] shumonsharif commented on #373
I think I managed to recreate the issue, it's likely being caused by the use of the `@Oneway` annotation.  Will try to dig in further and keep you posted.

[2022-03-11 12:32] shumonsharif commented on #373
@Aviss  There basically appears to be a clash between CXF's `@Oneway` behavior and the `@RequestScoped` functionality.  I don't believe there's a clean way to address this in the extension, but I believe something like the workaround below should address any issues you are seeing, can you please confirm?

[code]

[2022-03-11 14:09] Aviss commented on #373
Thanks for the quick help!

I can confirm that the above class solves the `@RequestScoped` issue. However, the `WebServiceContext` injected via `@Resource` is now `null`

[2022-03-11 14:35] shumonsharif commented on #371
Closing this, as there doesn't appear to be any issue in the extension.

[2022-03-11 14:35] #371 closed

[2022-03-11 14:45] shumonsharif commented on #373
You seem to be implying that `WebServiceContext` was not null before this change, is that correct?  I'll really need a reproducer to help you out if that's the case.  What I'm guessing is that `WebServiceContext` was always null.

[2022-03-11 16:01] shumonsharif commented on #373
So digging in on my end, I don't see how `WebServiceContext` could be anything but null, regardless of the `@RequestScoped` issue.  In any case, the `WebServiceContext` contains references to the `Principal` and `MessageContext` - I'm guessing you are trying to access either.

For the `Principal` instance contained within the `WebServiceContext`, your best bet is to use the below instead:

[code]

[2022-03-11 16:18] Aviss commented on #373
That is interesting. I had that code running without problems for quite a while, doing Basic Auth via the `MessageContext`
The `WebServiceContext` got injected properly when the WebService was "scopeless", as in, no scope-annotation was used.

I now wanted to inject a `@RequestScoped` Bean into the WebService which, as I understand it, does not work without adding a appropriate scope-annotation to

[2022-03-11 16:22] shumonsharif commented on #373
Sounds good, thanks @Aviss please keep us posted!

[2022-03-14 13:12] Aviss commented on #373
I was able to access BasicAuth through `PhaseInterceptorChain.getCurrentMessage().get(AuthorizationPolicy.class);`

However, after trying around some more, it turns out the `@RequestScoped` annotation seems to be redundant if the `CxfBusConfigurer` is used. More interestingly, omitting the `@RequestScoped` annotation allows the `WebServiceContext` to be injected properly again, while also being ab

[2022-03-15 01:22] shumonsharif commented on #373
Thanks @Aviss for your investigation and insights!

I just tried injecting `WebServiceContext` without the `@RequestScoped` annotation and it is indeed getting injected properly.  This is good to know.

Are we good with closing this issue?

[2022-03-15 08:20] Aviss commented on #373
Yes, my issue has been resolved.

[2022-03-15 08:20] #373 closed

[2022-03-15 09:15] dave1414 opened #376 "Dependency Injection in Handler Classes not working"
I have an issues which feels similar to #52, just in a more specific scenario. I want to add soap handlers to my web service (server side) using the @HandlerChain annotation. The handlers are invoked correctly but Dependency Injection does not work as expected for them. Instead of injected instances I get a No bean found for required type exception for the injected beans. I can circumvent that by

[2022-03-16 00:18] shumonsharif commented on #376
Thanks for the reproducer.  The `SOAPHandler` classes are currently initialized by CXF, and aren't managed via CDI.  So your best option is to use what you already identified as a solution.

[code]

While it may be possible to override some of the `@HandlerChain` behavior as part of the extension, I'm not sure the effort will be worth the small benefit gained.  We can leave this issue open if you'

[2022-03-16 01:34] shumonsharif commented on #376
So I dug in a little more, it should be possible add a property to both server and client configs that will allow you to add your handler classes as a comma separated list of fully qualified class names (this will be instead of using the `@HandlerChain` annotation and an XML config file).  I'll try to have this out in the next release!

[2022-03-16 10:49] dave1414 commented on #376
replacing the handlers.xml file for a working DI sounds fine. Thanks for your effort and help :) I will keep an eye out for this in the next release :)

[2022-03-17 04:23] mayankchincholkar opened #380 "Failed to load class :java.lang.ClassNotFoundException: org.apache.cxf.bindings.xformat.XMLBindingMessageFormatExtensibility"
Getting quite a few exceptions when invoking the SOAP client

1.  trying to read the schema file  Writing XML Schema for com.sun.xml.bind.v2.schemagen.XmlSchemaGenerator@255e3a3[http://schema.cmo/SvcInfoModel=com.sun.xml.bind.v2.schemagen.XmlSchemaGenerator$Namespace@5928ca6,http://schema.cmo/AcctStmtInq=com.sun.xml.bind.v2.schemagen.XmlSchemaGenerator$Namespace@454fad4c]: com.sun.xml.bind.v2.util

[2022-03-17 12:38] shumonsharif commented on #380
It looks like you have DEBUG logging enabled, so you _should_ be seeing these in your logs.

Have you tried turning down the log level?

[2022-03-17 22:37] mayankchincholkar commented on #380
Yep thats right

[2022-03-18 00:02] shumonsharif commented on #380
OK, closing this issue as the logs are from CXF, and can easily be turned off by setting the appropriate log levels.

[2022-03-18 00:02] #380 closed

[2022-03-21 07:13] mayankchincholkar opened #385 "Httpexception filter when call to service fails"
Hi

I am trying to implement exception filter where when there is any http exception like 404 or 500 to the service, then that filter captures the exception/fault and transform the exception in a Custom error response class . I tried that with interceptors but somehow struggling.  I found that can be achieved by implementing a FaultListener
https://cxf.apache.org/javadoc/latest/org/apache/cxf/logg

[2022-03-21 08:39] shumonsharif commented on #385
Hi @mayankchincholkar Please feel free to start a [discussion](https://github.com/quarkiverse/quarkus-cxf/discussions)  for any general questions; the issues are really meant for bugs.

Assuming you have a `@Produces` method that returns an instance of your custom `FaultListener` implementation, the example code below should work.

[code]

[2022-03-22 22:01] mayankchincholkar commented on #385
thanks @shumonsharif, you are a saviour. this works absolutely fine. Next time i will raise these sorts of questions on discussion boards. Thanks again

[2022-03-22 22:01] #385 closed

[2022-03-29 17:28] shumonsharif opened #399 "quarkus-cxf codestart"
Add codestart for the Quarkus-CXF extension as documented here:
https://quarkus.io/guides/extension-codestart#writing-an-extension-codestart-in-the-quarkiverse-or-standalone

[2022-03-29 17:33] shumonsharif commented on #399
Hi @gastaldi - are you aware of any Quarkiverse extension leveraging this at the moment?

I tried [searching](https://github.com/search?q=org%3Aquarkiverse+codestart.yml) but not sure if I'm using the right keywords, so just wanted to check with you.

[2022-03-29 23:18] shumonsharif commented on #399
Thanks George, will try out the codestart to see how it works - I came to the conclusion that no other Quarkiverse projects are using it yet.  Will keep you both posted in case of any issues.

[2022-03-30 06:31] ia3andy commented on #399
There is not Quarkiverse extension with Codestart yet but it's possible. To add a codestart the first thing is to start from an empty code.quarkus.io project and add the code you would like to see as codestart. It should be really simple and made to help developer start coding (It shouldn't contain much example just stubbing).

[2022-03-30 12:53] shumonsharif commented on #399
Gotcha, thanks @ia3andy.  Unfortunately, even the most minimal starter code for this extension will need a fair number of supporting example classes.  We'll likely also need a plugin ([like this](https://github.com/quarkiverse/quarkus-cxf/blob/master/integration-tests/pom.xml#L92-L115)) defined in the starter pom.xml ... I didn't see any way to integrate that into a codestart.  Given these factors

[2022-03-30 12:56] ia3andy commented on #399
You need to make sure they are `unlisted: true` in the metadata. example:
https://github.com/quarkusio/quarkus/blob/main/extensions/arc/runtime/src/main/resources/META-INF/quarkus-extension.yaml#L15

[2022-03-30 13:00] ia3andy commented on #399
Regarding the example code,

@gastaldi @gsmet do we have a quickstart equivalent for the Quarkiverse?

else, I would suggest creating a quickstart example app in the repository and reference it from the doc. We could even consider creating a github action to generate it automatically using the codestarts system on new versions (which in this case would allow editing the pom.xml and use example cod

[2022-03-30 13:09] maxandersen commented on #399
Ah - one downside is to not be able to have the QuickStart refer main.

@gastaldi maybe we should opt for making a quickstart repo per extension that wants it ?

[2022-03-30 13:11] ia3andy commented on #399
@maxandersen we could also add it as a release item from GH actions which gets generated on release using codestarts.

[2022-03-30 13:52] maxandersen commented on #399
Generated ? To where ?

[2022-03-31 19:08] maxandersen commented on #399
As a versioned zip? I guess that could work.

[2022-04-01 20:59] shumonsharif commented on #399
Thanks so much all, greatly appreciate your inputs and feedback.  I will explore the quickstart route for now.

@gastaldi Please let us know in case you have anything in mind for a Quarkiverse level quickstart, otherwise if it makes more sense, I will try to include it in the extension repository itself.

[2022-04-01 21:22] gastaldi commented on #399
I don't know what a Quarkiverse level quickstart means, but I'd recommend you to include in the extension repository itself 😉

[2022-04-01 21:51] shumonsharif commented on #399
Apologies, I meant to say Quarkiverse level quickstart _**repo**_, I meant something like this:
https://github.com/quarkusio/quarkus-quickstarts

Will include in the extension for now!  Thanks @gastaldi.

[2022-04-01 22:36] shumonsharif commented on #399
On further thought, I don't see a clean way to have a quickstart as part of the extension repo, as @maxandersen already pointed out [previously](https://github.com/quarkiverse/quarkus-cxf/issues/399#issuecomment-1083121005).  I may just end up creating a quickstart repo under my personal account, just to keep things clean.  Closing this issue for now, thanks once again all.

[2022-04-01 22:38] gastaldi commented on #399
I may be missing something, but isn't a quickstart/codestart another Maven module?

[2022-04-01 22:49] shumonsharif commented on #399
The issue as I see it, is that the extension leverages this BOM dependency:
https://github.com/quarkiverse/quarkus-cxf/blob/master/pom.xml#L76-L82

A regular Quarkus app / quickstart will have slightly different coordinates for its BOM import, so it'll have to live as an independent project, and not a Maven submodule like docs, core, or any of the others in the extension.

[2022-04-01 23:03] gastaldi commented on #399
Sorry, but I am still not following. AFAIR a codestart only declares a set of instructions of what needs to be changed in a project in order to end up with a working application. I'd appreciate if we could discuss that further to understand why a maven submodule wouldn't work.

Last but not least Quickstart (a fully working application) != Codestart so I am assuming you mean the latter

[2022-04-01 23:20] shumonsharif commented on #399
So, the original intent for this issue was to do a codestart.  After gathering some feedback, I explained [here](https://github.com/quarkiverse/quarkus-cxf/issues/399#issuecomment-1083102807), that a codestart won't work for this extension.  A quickstart was suggested [here](https://github.com/quarkiverse/quarkus-cxf/issues/399#issuecomment-1083111784), so that's what I've been exploring and tryin

[2022-04-01 23:32] gastaldi commented on #399
In this case I'd suggest making it available in https://github.com/quarkusio/quarkus-quickstarts, as it seems to be the central place for all quickstarts.

I personally don't like to come up with a quarkiverse-quickstarts as it would be another repository to version and maintain, but we can always discuss that.

Any thoughts @quarkiverse/quarkiverse-owners?

[2022-04-02 10:24] maxandersen commented on #399
-1.

It is not a good idea to put all quarkiverse QuickStarts into the central QuickStarts. Since that repo is used for quarkus core platform release and if it can't upgrade we are stuck.

Better options is imo independent QuickStart module in quarkiverse repos or qucikstart per quarkiverse repo in the org.

A main point of quarkiverse is they should be possible to release independently thus just

[2022-04-02 16:39] gastaldi commented on #399
Not sure what you mean with `Quickstart per quarkiverse repo` x `independent Quickstart module in the quarkiverse repository`, they look the same to me, but I'm still on vacation so my brain may be somewhere else 😉

Right, in this case an independent quickstart module in the extension repository is a better idea IMHO

[2022-04-02 17:26] shumonsharif commented on #399
@gastaldi Hope you are enjoying your vacation, and sorry for the interruptions!

I believe we're in agreement that an independent quickstart module in the extension repository itself is the best way forward, ie. the quickstart module won't be a [submodule](https://github.com/quarkiverse/quarkus-cxf/blob/master/pom.xml#L65-L72) like `docs` or `core` as already explained [previously](https://github.

[2022-04-03 13:56] shumonsharif commented on #376
@dave1414 Relase 0.14.0 is out; are you able to test the JAX-WS Handlers support and keep us posted on whether we can close this issue?

[2022-04-03 13:57] shumonsharif commented on #354
@wanderingfella Release 0.14.0 is out, are you able to help us test the WS-Security native mode support, and let us know if we can close this issue?

[2022-04-07 13:46] shumonsharif opened #410 "UnsatisfiedResolutionException"
### Discussed in https://github.com/quarkiverse/quarkus-cxf/discussions/408

<div type='discussions-op-text'>

<sup>Originally posted by **asanglard** April  5, 2022</sup>
Hello,

when I try to start my app, this error appears

java.lang.RuntimeException: io.quarkus.builder.BuildException: Build failure: Build failed due to errors
	[error]: Build step io.quarkus.arc.deployment.ArcProcessor#validat

[2022-04-07 13:48] shumonsharif commented on #410
Some suggestions :

- I don't know if the error generated in the log may be more explicit in case someone else make the same error. Like a missing WebService annotation on the service-interface specified...
- In the doc, maybe you can also explicit the SEI acronym (Service Endpoint Interface)

[2022-04-10 19:52] #410 closed

[2022-04-11 08:40] ia3andy commented on #399
I created an issue for this: https://github.com/quarkusio/quarkus/issues/24870

[2022-04-12 20:07] user667 opened #415 "ServletController intercepts requests to microprofile metrics endpoint"
When using Quarkus CXF to expose endpoints one is unable to also use microprofile metrics (`io.quarkus:quarkus-smallrye-metrics`). Requests are being intercepted by `org.apache.cxf.transport.servlet.ServletController` resulting in:
[code]
I was unable to find any means to configure an exclusion. Is there any other way to get this to work?

I've created a reproducer project: https://github.com/user

[2022-04-12 21:47] shumonsharif commented on #415
Hi @user667 Unless configured explicitly, Quarkus CXF intercepts all traffic to the root context.  You can set the following [property](https://quarkiverse.github.io/quarkiverse-docs/quarkus-cxf/dev/properties.html#quarkus-cxf_quarkus.cxf.path):

[code]

All your Quarkus CXF services will then be exposed at:  http://localhost:8080/soap/

[2022-04-13 05:11] user667 commented on #415
Thanks @shumonsharif for the hint. I was aware of that settings but was hoping for a bypass as we are migrating existing services from another AS (Thorntail & JBoss CXF) and we cannot simply change the context.

[2022-04-13 11:00] #415 closed

[2022-04-13 13:50] shumonsharif commented on #415
Gotcha @user667 ... the additional context for your issue is helpful.  I believe there is likely a way you can handle it, perhaps something like the below may work for you.

[code]

[code]

The above will redirect all requests, except for the ones in the exclusions list, to the `/soap` context.

[2022-04-14 14:27] shumonsharif opened #417 "An interface should not required for service implementation classes"
As per the JAX-WS specifications, an interface should not be mandatory for service implementation classes.  The extension currently expects an interface to be defined for service implementations.

https://javaee.github.io/metro-jax-ws/doc/user-guide/release-documentation.html#jsr-181

"If not specified, the endpoint implementation class is used to generate the web service contract. In this case, a

[2022-04-16 20:59] piba84-lx commented on #4
quick question, would it be ok to wrap into a Uni, do you happen to have an example on how to do it “properly”. My apologies for the silly question, but I’m no expert on reactive and really eager to learn more about it.
Thanks a lot!

[2022-04-16 23:45] #354 closed

[2022-04-16 23:46] #376 closed

[2022-04-17 00:08] shumonsharif opened #420 "mvn quarkus:dev resulting in inconsistent behavior"
The results of running something like `java -jar target/quarkus-app/quarkus-run.jar` (behaves as expected) are quite different from running `mvn quarkus:dev`.

The latter seems to be producing intercepted beans that are [subclasses](https://github.com/quarkusio/quarkus/blob/main/independent-projects/arc/processor/src/main/java/io/quarkus/arc/processor/SubclassGenerator.java), and the suffix `_Subc

[2022-04-17 00:09] #417 closed

[2022-04-17 00:12] shumonsharif commented on #4
@piba84-lx I unfortunately do not have an example - and am by no means an expert on reactive either - but I think it should be doable fairly easily.  Can you start a new [discussion](https://github.com/quarkiverse/quarkus-cxf/discussions) for your request?

[2022-04-17 13:19] #420 closed

[2022-04-22 12:57] shumonsharif commented on #4
@piba84-lx I've attached some [sample code](https://github.com/quarkiverse/quarkus-cxf/files/8541139/code-with-quarkus.zip) that demonstrates the wrapping of a SOAP client call in a Uni.  The code is fairly simple, but in case you have any questions, please definitely start a discussion as suggested previously.  You can invoke the exposed endpoints to see that the eventloop thread is used with the

[2022-04-22 13:12] piba84-lx commented on #4
@shumonsharif  I can't say thank you enough! I didn't find the time to open a new issue. Thank you so much for this sample, super useful! thank you thank you thank you!!!

[2022-04-29 16:48] shumonsharif opened #426 "CXF Logging[In|Out]Interceptors unavailable in native mode"
Using `org.apache.cxf.ext.logging.LoggingInInterceptor` or `org.apache.cxf.ext.logging.LoggingOutInterceptor` fails in native mode.

[2022-04-29 16:50] shumonsharif opened #427 "CXF Async [cxf-rt-transports-http-hc5] does not compile for native mode"
Native compile fails when using async client HTTP calls.

[2022-05-06 12:33] STriX96 opened #432 "SEI injection not working if SEI was generated in a different module"
Hey!

Typically in our projects we generate java code from wsdl in a separate maven project and use it as a dependency in other modules of the project. The structure looks like this:

- api-parent (parent maven)
-- api-definition (contains the generated classes from wsdl)
-- api-service (using api-definition as a dependency to implement methods)

I'm using quarkus-cxf 1.0.0

In this case when I in

[2022-05-06 13:20] STriX96 commented on #432
Aynone bumping into this, I managed to make it work by adding this plugin to the api-definition pom.xml:

[code]

[2022-05-07 18:38] #427 closed

[2022-05-07 18:38] #426 closed

[2022-05-12 08:57] querdenker2k opened #439 "serviceName attribute from @Webservice not used"
When i have a separate api and impl project the generated wsdl is incorrect.
Inside the api the classes from the wsdl are generated.
Inside the impl project the api is used to implement the service.
Quarkus version: 2.8.3
Cxf version: 1.1.0

The ?wsdl result is
[code]
Here is a reproducer: https://github.com/querdenker2k/cxf-servicename-reproducer

With Cxf version 0.9 is it still working but then

[2022-05-12 11:02] shumonsharif commented on #439
Hi @querdenker2k Can you post an example of what the WSDL _should_ look like?  My initial guess is that it may be a [Jandex index](https://quarkus.io/guides/cdi-reference#how-to-generate-a-jandex-index) issue in your setup, though I did not go through your code.

[2022-05-12 11:15] querdenker2k commented on #439
It's the unmodified wsdl from your repo from the tests

[2022-05-12 11:51] shumonsharif commented on #439
@querdenker2k Is there a reason you have this line?  I believe that may be the root cause of your issue, it's not quite a valid implementation class with that annotation.

https://github.com/querdenker2k/cxf-servicename-reproducer/blob/main/impl/src/main/java/io/quarkus/cxf/reproducer/impl/CalculatorWebServiceImpl.java#L8

[2022-05-12 12:44] Aviss opened #440 "How to enforce Client Authentication"
I'm trying to create a WebService that is only allowed to communicate with TLS/SSL.
I was able to configure the Client by setting the `TLSClientParameters` of the `HTTPConduit` as shown in the [Docs](https://quarkiverse.github.io/quarkiverse-docs/quarkus-cxf/dev/client.html#code-config).

However, I'm having trouble finding a way to set the `TLSServerParamters` to enforce Client Authentication as

[2022-05-12 13:15] querdenker2k commented on #439
ahh nice, i didn't know that this occurs in such an error.
but in fact i have a further problem for which i wrote the reproducer.
the @WebService#serviceName annotation was not read.
Instead of **Calculator** the service name inside the generated wsdl is **CalculatorWebServiceService**

[2022-05-12 21:19] shumonsharif commented on #439
Yes, that appears to be a valid issue.  Will try to have it addressed in the next release.  Thanks!

[2022-05-12 21:55] shumonsharif commented on #440
Hi @Aviss You'll have to depend on what Quarkus offers, as we rely on the HTTP framework it provides.  I would suggest you open a ticket in the Quarkus repo, in case they are able to provide path based instead of global settings for mTLS.

[2022-05-12 23:25] shumonsharif commented on #440
Not the optimal solution, but you may possibly have some luck with something similar to the below ...

[code]

[2022-05-16 09:16] Aviss commented on #440
I took a deeper look at the quarkus security configuration and was able to get it working with the following configuration:

[code]

Thank you for the earlier suggestion, regardless.

[2022-05-16 09:16] #440 closed

[2022-05-19 14:25] antonwiens opened #443 "Proxy cannot be cast to Locatable native runtime error"
I am trying to upgrade to quarkus 2.9.1 and quarkus cxf 1.1.0 and am getting the error below during runtime.

I am using a native build with dependencies to

io.quarkiverse.cxf:quarkus-cxf
io.quarkiverse.cxf:quarkus-cxf-rt-ws-security

Do you have any idea, where this might come from?

[code]

[2022-05-19 14:41] antonwiens commented on #443
i think this is kinda related to GraalVM 22.1 in quarkus 2.9.1.

Creating a reproducer ist kinda hard for me, cause this is using a private service interface.
But i will try to create one.

[2022-05-21 13:52] shumonsharif commented on #443
Yes @antonwiens, I believe you're right.  I was able to recreate the issue using Quarkus 2.9.1 as well, using a service/schema I had handy.

I see an [open issue](https://github.com/quarkusio/quarkus/issues?q=is%3Aissue+is%3Aopen+Locatable) in the Quarkus repo that is highly likely related.  Let's keep an eye on that one - I'm hoping once they resolve that, it should take care of the errors you ar

[2022-05-23 07:39] antonwiens commented on #443
Thanks for looking it up. Hope they will fix it soon...

[2022-05-24 05:19] antonwiens commented on #443
@shumonsharif Could you please provide your reproducer to the open issue in the quarkus repo?

[2022-05-24 11:22] shumonsharif commented on #443
@antonwiens Sorry, but what I have is part of a much larger project and not a simple reproducer for the issue.  I'm guessing you didn't have much luck in putting one together, but I should be able to make some time over the next week.

[2022-05-25 14:36] ammachado opened #446 "Support for Camel "cxf" component"
quarkus-cxf has support for the [cxf](https://camel.apache.org/components/3.16.x/cxf-component.html) component?

If support is available, can you provide information on how to use it?

[2022-05-25 20:35] shumonsharif commented on #446
Hi Adriano, the Camel CXF component you linked is unrelated to Quarkus.

If you are looking to use Camel Quarkus, [this](https://camel.apache.org/camel-quarkus/next/reference/index.html) is the list of components you should be referencing, and Camel Quarkus currently does not have a CXF extension I'm aware of.

Having said that, you can take a look at the docs [here](https://quarkiverse.github.io/

[2022-05-25 20:35] #446 closed

[2022-06-15 10:30] shumonsharif commented on #443
@antonwiens Quarkus 2.10.0.CR1 was released last week, and I believe they may backport the fix for https://github.com/quarkusio/quarkus/issues/25325 to 2.9.x.

Are you able to run some tests with 2.10.0.CR1 to see if this issue is resolved for you?  Please keep me posted if not, so we can look further into it.

[2022-06-15 11:19] antonwiens commented on #443
I will check it, thanks.

[2022-06-15 12:03] antonwiens commented on #443
It seems to fix the error with the class cast, but now i am getting an error related to ehcache.

Seems like i am missing the dependency, but i would rather like to remove ehcache is that possible?

[code]

[2022-06-15 22:24] shumonsharif commented on #443
Thanks @antonwiens, closing this issue for now, based on the original exception you had logged and that it has been addressed.

Regarding ehcache, you can take a look at the notes [here](https://cxf.apache.org/docs/ws-security.html) regarding how and why ehcache is used.  It should certainly be possible to run without ehcache, though I would suggest you start a discussion in case you need some hel

[2022-06-15 22:24] #443 closed

[2022-06-17 05:24] querdenker2k commented on #439
@shumonsharif can you say when a new release will be created

[2022-06-17 11:58] shumonsharif commented on #439
Hey @querdenker2k Apologies, I wasn't sure if you needed this quickly -- otherwise I could have given you a patch release a while back.  I'm going to do a release in the next few hours.

[2022-06-17 12:01] querdenker2k commented on #439
i am waiting for https://github.com/quarkusio/quarkus/issues/25325 as well. but i hope the next release will come in a few days.

[2022-06-17 13:27] shumonsharif commented on #439
Just released quarkus-cxf 1.2.0.

This issue should already be fixed in Quarkus 2.10.

Can you please test and let me know if everything is working as expected?

[2022-06-21 03:53] querdenker2k commented on #439
Yes, thanks a lot, its working as expected. But Quarkus 2.10 hasn't been released yet.

[2022-06-21 09:18] antonwiens opened #456 "EHCache not working in native mode with docker builds"
As mentioned in the related issue, i am having problems getting ehcache to run with quarkus 2.10.0.CR1 and quarkus-cxf 1.1.0.

I do not exclude the ehcache dependency or anything related to it.
Do you have any idea why i get this error message?

[code]

_Originally posted by @antonwiens in https://github.com/quarkiverse/quarkus-cxf/issues/443#issuecomment-1156385024_

[2022-06-21 10:00] #439 closed

[2022-06-21 13:27] antonwiens commented on #456
I am using gradle and can see the following problem:

org.apache.cxf:cxf-rt-ws-security:3.5.2 is pulled in by quarkus-cxf-rt-ws-security.
Which is pulling ehcache 3.9.6 over org.apache.wss4j:wss4j-ws-security-dom:2.4.1
and 3.9.3 over rg.apache.cxf:cxf-rt-security-saml:3.5.2.

Gradle is taking 3.9.6 there to replace 3.9.3.

I will try forcing either version to fix this problem.

[2022-06-21 13:40] antonwiens commented on #456
This is the result of trying to force ehcache 3.9.3:

[code]

[2022-06-21 18:52] OliveiraMarcos opened #457 "How can i get the header of request"
I would like to know how can i get the header of request using quarkus-cxf

for example, i'm need obter a property from header of request on the call this method:
[code]

[2022-06-22 00:34] shumonsharif commented on #457
Maybe you can try something like the below; and in the future, please start a discussion for general questions such as this.

[code]

[2022-06-22 00:34] #457 closed

[2022-06-22 02:28] shumonsharif commented on #456
Strange indeed ... I would love to help you, but this does not appear in any way to be an issue with the extension.  Please feel free to put together a simple reproducer project if you'd like for me to try to take a look?

[2022-06-22 07:45] antonwiens commented on #456
The problem seems to be related to org.ehcache.xml.XmlConfiguration#CORE_SCHEMA_URL.
It gets initialized like this:

[code]

And it seems like it is loaded in org/ehcache/xml/ConfigurationParser.java:158.

But i can`t find where my problem is coming from...

When i have time, i will try to create a reproducer.

[2022-06-22 12:30] shumonsharif commented on #456
The attached [gradle-ws-security.zip](https://github.com/quarkiverse/quarkus-cxf/files/8957496/gradle-ws-security.zip) gradle project executes without any issues for me.  I'm still thinking there's something off in your setup, and likely the issue has nothing to do with the actual loading of the xsd in XmlConfiguration.

Can you try run this project; once you run the native executable, try somethi

[2022-06-22 16:48] shumonsharif commented on #456
You're right, I stand corrected - the issue appears to be specific to the docker images.  Things are fine when running the native binary without docker.  Will dig in and keep you posted.

[2022-06-22 17:44] OliveiraMarcos commented on #457
Thanks!
Sorry, in the future i will ask in the discussion

[2022-06-22 20:03] shumonsharif commented on #456
Hey @antonwiens So I dug in a little, and it may take a while for me to identify and address the root cause of this issue.  I'm posting a temporary workaround below until I can figure out what's happening.

[code]

[2022-06-23 07:31] antonwiens commented on #456
Thanks for looking into it and the workaround. If i understand correctly the workaround disables EHCache for the TokenStore for the time being?

[2022-06-23 11:16] shumonsharif commented on #456
That's correct.  Keep in mind there's a difference in the token TTL, which may have some ramifications if you have a high throughput application.  You can tune the TTL by setting the value directly on the `MemoryTokenStore` instance.

From the `EHCacheTokenStore` docs:  An in-memory EHCache implementation of the TokenStore interface. The default TTL is 60 minutes and the max TTL is 12 hours.

From

[2022-06-23 11:27] antonwiens commented on #456
Thanks for all the hints.

[2022-06-28 21:20] famod opened #460 "Provide a BOM?"
First off, I haven't checked with others, especially @aloubyansky or @gastaldi, whether this is already solved in some general way for quarkiverse extensions or is being worked at.

In my current project we are using `org.apache.cxf:cxf-rt-transports-http-netty-server` to fire up a CXF test server.
Since `quarkus-cxf` is not depending on that module, we have to define the version for that module o

[2022-06-28 23:04] gastaldi commented on #460
@famod I think that makes sense in your case. It may also evolve to be a platform in the future

[2022-06-29 06:15] aloubyansky commented on #460
That's reasonable @famod there is an issue to add support for non-platform extensions with BOMs when generating projects. And we'll need to enhance quarkus:info and quarkus:update to be aware of those too.
So at this point our tooling is behind on this but it is a reasonable idea.

[2022-07-05 16:41] tbkahuna48 commented on #177
easiest way to create a soap client is just treat it as XML over HTTP and simply use resteasy jaxb to marshall the response xml. Easy if you hav a simple request xml body.
However, looking for a templating engine that will make marshaling the request easier when the request body xml is more ocmplicated.

[2022-07-05 19:17] shumonsharif commented on #177
Hi @tbkahuna48 The purpose of this extension is to leverage CXF to support the myriad of WS-* specifications and standards.

Having said that, if the use case is very simple - one can leverage just the [Quarkus REST client](https://quarkus.io/guides/rest-client) to invoke an HTTP SOAP endpoint, without even having a need to marshal the response using RESTEasy JAXB.

I'm not sure what you mean by t

[2022-07-05 22:58] famod commented on #460
@shumonsharif I see, quite a mess. It's always "fun" to consume upstream poms (not just BOMs) that haven't been convergence-checked.

Ideally, the cxf guys would need to mediate conflicts for e.g. slf4j (just like Quarkus is doing) via excludes and explicit declarations of transitive dependencies.

Are you actively working on it or shall I have a look?

[2022-07-06 10:01] shumonsharif commented on #460
Hey @famod I haven't started taking a look - have been on vacation.  That'd be awesome if you could take this one!

[2022-07-14 13:38] famod commented on #460
@shumonsharif Please have a look at #466.

[2022-07-15 11:44] shumonsharif commented on #460
@famod Will take a look later today!

[2022-07-17 11:19] #460 closed

[2022-07-25 08:00] raptium opened #471 "Allow exposing multiple endpoints on the same path"
CXF allows multiple endpoints to be exposed on the same path when `allow-multiplex-endpoint` is set on the Endpoint. (See https://github.com/apache/cxf/blob/main/rt/bindings/soap/src/main/java/org/apache/cxf/binding/soap/SoapBindingFactory.java#L907)
An `EndpointSelectionInterceptor` will be added and used to determine the actual endpoint to use on incoming requests.

However, this is somehow cann

[2022-07-28 15:16] shumonsharif commented on #471
Hi @raptium Sorry for the late response; would it be possible by any chance for you to provide a small sample project, without Quarkus, that demonstrates the `allow-multiplex-endpoint` flag in action?  I'll also look into it in the meantime, to get a better understanding of how this may fit into the extension.

[2022-07-29 10:36] raptium commented on #471
@shumonsharif Sure, I will add an example for better elaboration.

[2022-08-01 02:15] raptium commented on #471
I find there is already an example in CXF's tests, http://svn.apache.org/repos/asf/cxf/trunk/systests/uncategorized/src/test/java/org/apache/cxf/systest/versioning/Server.java

[2022-08-01 20:21] shumonsharif commented on #471
I looked at that unit test when you first logged the issue.  However, it would certainly be a lot more helpful to see an application that demonstrates your use case(s).  No worries if you aren't able to put one together, I'll try to make some time to dig in over the upcoming weeks.

[2022-08-09 15:05] javaduke opened #485 "Issue with SecureRandom in org.apache.xml.security.stax.ext.XMLSecurityConstants"
We are facing an issue with the WS-Security, the `nonce` is not added to the request even though we set `addUsernameTokenNonce` to true. Apparently the reason is that there's an exception due to the non-initialized secure random in `org.apache.xml.security.stax.ext.XMLSecurityConstants`. I saw that ws-security module substitutes the XMLSecurityConstants class, but the SecureRandom is still initial

[2022-08-13 11:43] shumonsharif opened #489 "all contributors updates"
@all-contributors add @ppalaga for code

[2022-08-14 11:04] ppalaga opened #491 "Injected CXFClientInfo does not reflect the wsdl and client-endpoint-url set in application.properties"
I am about to add a test case in an upcoming PR.

Another related issue is that it currently does not seem to be possible to inject two separate CXFClientInfos that implement the same service interface, but point at different client-endpoint-urls. I wonder whether this can be implemented at all?

[2022-08-14 15:00] shumonsharif commented on #491
Hi @ppalaga If I understood your concern correctly, it should certainly be doable ... from the docs:

https://quarkiverse.github.io/quarkiverse-docs/quarkus-cxf/dev/client.html

"Default configurations must be unique per SEI while it is otherwise perfectly valid to have multiple client configuration units per SEI ....

Notice the absence of property service-interface in quarkus.cxf.client."my-feat

[2022-08-14 15:01] #489 closed

[2022-08-15 10:09] ppalaga commented on #491
@shumonsharif the docs is about configuring and injecting clients. That works as documented.

What does not work is getting the configured endpoint URL and WSDL URL throught an injected CXFClientInfo. Here is my attempt to add a test: https://github.com/quarkiverse/quarkus-cxf/pull/488/commits/85bece26ab45abf0f0a5ff40495b0104824d55e3#diff-589b1a55c42e5a4857b144ce0ee1b076ffa7d5c8c81e941bd404092a4b9

[2022-08-16 13:20] ppalaga opened #493 "Ban org.ow2.asm:asm in non-deployment modules"
Before https://github.com/quarkiverse/quarkus-cxf/pull/487, we were banning `org.ow2.asm:asm` in some modules. We should investigate whether we should/can ban it after https://github.com/quarkiverse/quarkus-cxf/pull/487 and why.

When banned, it would have to be excluded from the follwing BOM entries:

[code]

As a first step, we can do the above exclusions and check whether some tests fail.

[2022-08-17 09:51] ppalaga opened #496 "Introduce test BOM"
A followup of the discussion in https://github.com/quarkiverse/quarkus-cxf/pull/488#discussion_r947223455

Much like Quarkus has its [quarkus-bom-test](https://github.com/quarkusio/quarkus/blob/main/bom/test/pom.xml) we could also introduce a new module called quarkus-cxf-bom-test to manage dependencies useful for testing of Quarkus CXF applications.

`org.apache.cxf:cxf-rt-transports-http-netty-s

[2022-08-17 10:11] famod commented on #496
To quote myself from the references comment:

[2022-08-17 10:46] ppalaga opened #497 "CxfClientTest.outInterceptor() gets a different body in native mode"
This happens after the changes in https://github.com/quarkiverse/quarkus-cxf/pull/488

Steps to reproduce:

Change

[code]

to

[code]

in `io.quarkiverse.cxf.client.it.CxfClientTest.outInterceptor()`

and see it failing with

[code]

There should be no difference between the bodies returned in JVM and native mode.

[2022-08-17 10:56] ppalaga opened #498 "Test WS Security client"
We have the quarkus-cxf-rt-ws-security extension, but no test covering it.

[2022-08-17 11:07] ppalaga commented on #493
Citing @famod from https://github.com/quarkiverse/quarkus-cxf/pull/487#discussion_r947220344 :

[2022-08-19 12:55] ppalaga opened #500 "Test WS Security server"
We have the quarkus-cxf-rt-ws-security extension, but no test covering it.

There is #498 for the client test

[2022-08-19 14:12] Ballsigno opened #501 "Can't use XSLT feature in native mode"
Hi. I have a question about [XSLT feature](https://cxf.apache.org/docs/xslt-feature.html).

[code]

↑ It works fine in dev mode, but when I tried in native mode,  it was failed.

[code]

If the xsl file doesn't exist, I'm sure I will get 'Cannot load XSLT from path:" error.
Therefore I passed the right argument but failed.
Is this a bug or am I missing something?

[2022-08-19 15:11] shumonsharif commented on #501
Hi @Ballsigno Did you include the test.xsl resource in your native image?
https://quarkus.io/guides/writing-native-applications-tips#including-resources

[2022-08-19 15:49] Ballsigno commented on #501
@shumonsharif
Thank you for your reply!
Yes, I have pom.xml that has include setting.

[code]

Additionally, I have tried this in native mode, and I successfully got the input stream.
(But somehow, XSLTInInterceptor doesn't work.)

[code]

[2022-08-19 21:47] shumonsharif commented on #501
Likely a bug; thanks for opening the issue!  Would you be able to provide a small reproducer?

[2022-08-20 01:00] Ballsigno commented on #501
Alright, I created the small one.
I really want to know whether this will be fixed in a few days or not.
Let me know if you need anything.

https://github.com/Ballsigno/quarkus-cxf-xslt-test/tree/master/quarkus-cxf-xslt-test

[2022-08-20 15:04] shumonsharif commented on #501
Thank you so much @Ballsigno !  This helps tremendously.

Unfortunately, debugging native issues always takes quite a bit of time.  Not sure at this stage if this will be a quick thing or not, though I'm doubtful it'll be fixed and released in a few days.  Will certainly prioritize this issue for you, and will keep you posted on progress.

[2022-08-20 16:25] Ballsigno commented on #501
@shumonsharif
Thank you for your support! It's understandable.
I'm researching whether I can use this for my purpose these days, and now I can see the silver lining. If it turned out to be complicated, I will wait patiently🙏

[2022-08-22 07:47] #498 closed

[2022-08-22 08:33] ppalaga commented on #456
This is reproducible with the test in https://github.com/quarkiverse/quarkus-cxf/pull/503/commits/58c58cb450991e27d3a4d8a6bf6d3f16e95b12e0
and fixed by upgrading to Ehcache 3.10.0 and moving the init of some classes to runtime - see https://github.com/quarkiverse/quarkus-cxf/pull/503/commits/cac66c138084a704264d47aee6c15cc40a1b808a

[2022-08-22 08:46] ppalaga opened #504 "Test quarkus-cxf-rt-features-metrics"
We should add a separate integration test for quarkus-cxf-rt-features-metrics-parent, much like we have for the other extensions.

[2022-08-22 08:47] ppalaga opened #505 "Test quarkus-cxf-rt-transports-http-hc5"
We should add a separate test for quarkus-cxf-rt-transports-http-hc5 much like we have for other extensions.

[2022-08-22 08:51] ppalaga opened #506 "Make sure that we manage all required org.apache.cxf:* artifacts in quarkus-cxf-bom"
`org.l2x6.cq:cq-maven-plugin` already has this kind of a feature, but it is hard-coded to `org.apache.camel`. Hence, it just needs to be made configurable.

[2022-08-22 16:58] #496 closed

[2022-08-22 16:58] #456 closed

[2022-08-22 16:58] #500 closed

[2022-08-22 22:19] ppalaga commented on #493
Hm... now I see. quarkus-core-deployment pulls asm via gizmo. So banning asm for both runtime and deployment artifacts is not possible. I'll try to do it for runtime modules at least.

[2022-08-23 07:15] #493 closed

[2022-08-23 09:52] ppalaga commented on #501
Making XSLT work in native mode is indeed tricky. Camel Quarkus supports it via its `camel-quarkus-xslt` extension. It is tested there only in Camel related scenarios, but I think it might work for you as well. What I think you should do is the following:

1. Go to https://code.quarkus.io/?e=org.apache.camel.quarkus%3Acamel-quarkus-xslt&extension-search=origin:platform%20camel-quarkus-xslt
2. Gene

[2022-08-23 16:01] Ballsigno commented on #501
Thanks for clear steps instructions🙇🏻‍♂️
I’m not familiar with those things. Therefore I’m not so sure how is that related to my problem. Anyway, I'll give it a try tomorrow or the day after tomorrow.

[2022-08-23 17:07] ppalaga commented on #501
To make Java code work in native mode, you need to provide some (sometimes a lot of) GraalVM configuration. That's what Quarkus extensions do (among other things). camel-quarkus-xslt does it for XSLT.

[2022-08-24 06:14] ppalaga opened #512 "Adapt the docs to the recent changes"
Citing @shumonsharif from https://github.com/quarkiverse/quarkus-cxf/pull/510#issuecomment-1224900014 :

[2022-08-24 11:22] Ballsigno commented on #501
Thank you for your explanation.
I tried it Java 11 and 17, but very unfortunately, It didn't work for me.
(I created [a branch](https://github.com/Ballsigno/quarkus-cxf-xslt-test/tree/feature/ADD_APACHE_CAMEL_XSLT/quarkus-cxf-xslt-test) based on the reproducer)

Indeed it seems it affects XSLT feature because the error message is change. (But my xsl file is valid format.)

[code]

[2022-08-25 01:14] Ballsigno commented on #501
This may mislead you, but If I do this in my GreetingResource.java (with apache camel), an error message is like this.

[code]
↓
[code]

[2022-08-25 18:58] ppalaga opened #518 "Target_org_apache_cxf_common_spi_NamespaceClassGenerator loads classes that are not registered for reflection"
`Target_org_apache_cxf_common_spi_NamespaceClassGenerator` tries to load several classes such as
`org.apache.cxf.jaxb.EclipseNamespaceMapper`
`org.apache.cxf.jaxb.NamespaceMapper`
`org.apache.cxf.jaxb.NamespaceMapperRI`
`org.apache.cxf.common.jaxb.NamespaceMapper`

out of which only `org.apache.cxf.jaxb.NamespaceMapper` is registered for reflection and thus only that execution path will ever be ex

[2022-08-26 08:55] ppalaga opened #519 "Let org.jasypt.normalization.Normalizer.normalizeToNfc() delegate directly to java.text.Normalizer.normalize()"
The current substitution looks like this:

[code]

The problem is that when the result of `normalizeToNfc()` is passed to `String(char value[])` a NPE is thrown because the constructor attempts to read `value.length`.

I wonder which of the following is true:

A. We are sure that `normalizeWithJavaNormalizer()` will never be called. If so, I'd vote for throwing something like `new UnsupportedOpera

[2022-08-26 12:27] shumonsharif commented on #519
Hi @ppalaga I believe this is something I had worked on ... `normalizeWithJavaNormalizer` is just an `@Alias` and not an actual `@Substitution` ... unless I misunderstood the Graal docs - it should be fine as it is currently?  Please feel free to correct me here, not a Graal expert by any means!

[2022-08-26 13:27] shumonsharif commented on #518
Hi @ppalaga In cases like this, I have generally followed what seems like the 'safest' approach to minimize any potential issues.  I couldn't find any unit tests in the CXF codebase that deal with `org.apache.cxf.jaxb.NamespaceMapper` ... my suggestion would be to either do option A, or even better, remove the substitution all together given you couldn't even hit the method.

We likely have quite

[2022-08-26 16:50] shumonsharif opened #523 "Test containers taking very long to start"
Local builds of the project on my MacBook Pro are very inconsistent - approx. 80% of the time, builds fail due to the test containers not starting properly within the allotted time of 60 seconds.

[2022-08-26 21:17] ppalaga commented on #519
Ah, thanks for explaining @shumonsharif ! Now it makes a lot of sense!

[2022-08-27 04:17] Ballsigno commented on #501
Hmm. I'm totally stuck on this.

Apache Camel seems create a factory and compile a xsl file in initialization process, and XsltBuilder retains the result(template). On the other hand, CXF does similar things after the application launch.(When I create XSLTInInterceptor.)  I don't know why it doesn't work though.
Since there is AbstractPhaseInterceptor, I can create own XSLTinterceptor, but I could

[2022-08-27 11:35] Ballsigno commented on #501
Finally, I found a workaround! Thank you @ppalaga, I wouldn't have found this approach by myself.
I don't know what's going on but, using quarkus camel resources work.
I created own interceptor, and avoid a default action that caused the problem.

Instated of doing this...
[code]
↓
[code]

@shumonsharif
I think I'll close this issue for now. is it okay? (I assume this is low priority...)
(I'll be

[2022-08-29 08:23] ppalaga commented on #501
I'd vote for keeping this issue open, as it still does not work flawlessly. This issue also contains a lot of useful information.

I think our general aim should be to have a general purpose Quarkus XSLT extension that could be leveraged for both Camel and CXF use cases. I need to speak with Quarkus team whether they'd be ready to host it within quarkusio/quarkus repo.

[2022-08-29 08:34] ppalaga commented on #523
Ups, sad to hear that. I admit the containers are not super fast to boot.
They are based on WildFly Quickstarts, which was just the way I knew best.
If you see a way to make them boot faster, e.g. by using another container, your suggestions/PRs are welcome.

What is the specs of you machine, BTW?

[2022-08-29 09:06] ppalaga opened #524 "Leverage quarkiverse/quarkus-xmlsec instead of having our own Santuario extension"
Hey @ppalaga This LGTM, but there's another Quarkiverse project that deals with Santuario:  https://github.com/quarkiverse/quarkus-xmlsec

Any chance we can leverage that instead, for both Camel as well as the WS-Security module?

_Originally posted by @shumonsharif in https://github.com/quarkiverse/quarkus-cxf/issues/520#issuecomment-1228503299_

[2022-08-29 09:10] ppalaga commented on #518
Oh, indeed, removing Target_org_apache_cxf_common_spi_NamespaceClassGenerator would be the most elegant solution :) Let's try it!

[2022-08-30 13:46] shumonsharif commented on #523
Hey @ppalaga I think I narrowed down the issue.  I am on an M1 chip for my MacBook, and it seems to be related to the below, quoting from the [docker website](https://docs.docker.com/desktop/mac/apple-silicon/):

I see the [latest wildfly image on quay](https://quay.io/repository/wildfly/wildfly?tab=tags) has multi-arch / arm64 support ... though not yet sure how that can be integrated in our test

[2022-08-30 17:31] famod opened #525 "Hibernate validator warning w.r.t. `DoubleAddInterceptorList` since 1.5.0.CR1"
Starting with 1.5.0.CR1 I'm seeing the following warnign very early in the Quarkus boot process (JVM mode):

[code]

Note: `DoubleAddInterceptorList` is an inner class of `org.apache.cxf.jaxws.EndpointImpl`.

[2022-08-30 17:31] famod commented on #525
Does that ring a bell @ppalaga?

[2022-08-30 20:00] ppalaga commented on #525
No, unfortunately, I have no idea about the cause.

[2022-08-30 21:19] famod commented on #525
Found the culprit via bisecting: https://github.com/quarkiverse/quarkus-cxf/commit/954358665dd5c6a13fed7f394c4bd8d1d80e9baf

I guess we are now indexing a bit too much.

[2022-08-30 22:10] famod commented on #525
When I remove this line the warning vanishes: https://github.com/quarkiverse/quarkus-cxf/blob/1.5.0/extensions/core/deployment/src/main/java/io/quarkiverse/cxf/deployment/QuarkusCxfProcessor.java#L630

Do we really need to index all cxf artifacts?

[2022-08-31 12:08] senzu opened #526 "Unable to create SOAP connection factory: Error while searching for service [javax.xml.soap.SOAPConnectionFactory]"
Hi!

I have an issue with following code snippet:

[code]

The maven command which is used to build: mvn clean package -Pnative -Dquarkus.native.container-build=true -Dquarkus.container-image.build=true

I don't know if it matters, but I have quarkiverse imported to the project:

<dependency>
  <groupId>io.quarkiverse.cxf</groupId>
  <artifactId>quarkus-cxf</artifactId>
  <version>1.4.0</version>

[2022-08-31 13:15] #526 closed

[2022-09-01 09:25] famod commented on #525
@gsmet would it make sense to add a package exclude list to the hibernate validator extension? With that I could tell it to ignore cxf packages and we could still index them all without gettign such a warning.

[2022-09-01 09:43] gsmet commented on #525
What I don't understand is why it's sent to HV as I don't see any Bean Validation annotations.

[2022-09-01 09:46] gsmet commented on #525
If you can provide me a Maven reproducer, I can have a look. But feel free to do it yourself because I'm kinda full these days :).

We need to understand why the class is there: https://github.com/quarkusio/quarkus/blob/main/extensions/hibernate-validator/deployment/src/main/java/io/quarkus/hibernate/validator/deployment/HibernateValidatorProcessor.java#L349 .

[2022-09-01 09:50] famod commented on #525
@gsmet Thanks for the quick reply!

Yeah, good point.

Same here but I'll see what I can do.

[2022-09-01 10:01] gsmet commented on #525
If you can have a look at why it's sent to HV, I'll also see if we can be more clever in HV. I would like to avoid logging this message for non-constrained methods.

[2022-09-01 19:31] famod commented on #525
@gsmet there are multiple additions of `DoubleAddInterceptorList` to `classNamesToBeValidated`. I only checked the first in detail:

[code]

The processor gathers all known implementors of `java.util.List` because it finds the following field in one of my project's classes:
[code]
`DoubleAddInterceptorList` indeed is a `java.util.List`...

[2022-09-02 13:13] ppalaga commented on #523
We use buildah to build the calculator-ws image on GitHub actions: https://github.com/l2x6/calculator-ws/blob/1.0/.github/workflows/deploy.yaml#L19-L26

It looks like buildah can build for arm64 as well: https://medium.com/oracledevs/building-multi-architecture-containers-with-buildah-44ed100ec3f3

If you'd like to make it work a contribution would be welcome.

[2022-09-02 13:23] ppalaga commented on #526
Great to hear that, @senzu !
Does it now work without the reflect-config.json? I mean it should and if it does not, please paste the 1.5.0 output here.

[2022-09-02 15:11] ppalaga commented on #526
No worries, it is not urgent.

[2022-09-03 12:12] shumonsharif commented on #523
Let me try take a look at this!

[2022-09-03 14:00] shumonsharif commented on #523
Just submitted https://github.com/l2x6/calculator-ws/pull/5 - this should hopefully address the issue.

Also, there should certainly be some ways to speed this up, such as not depending on a full wildfly distro; though I think this should be good enough for now!

[2022-09-05 13:32] ppalaga commented on #523
l2x6/calculator-ws#5 is merged. You may want to `docker pull quay.io/l2x6/calculator-ws:1.0` and check whether it works better for you

[2022-09-05 20:15] ppalaga commented on #523
Yeah, but the image might have been cached locally. If you pull you can be sure that it is the one from quay rather than e.g. the one you built locally.

[2022-09-05 21:19] shumonsharif commented on #523
Yes, I did clear out all the local images prior to running `mvn clean package` ... I was making sure that the tests would execute successfully for any contributors who may try to build the project from a fresh clone, and more importantly, that the correct version of the multi-arch image is pulled.

[2022-09-07 03:19] wujid opened #527 "Error: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved method during parsing:"
when I build, I got a error:
Detailed message:

[code]

[2022-09-07 06:20] ppalaga commented on #527
Thanks for the report, @wujid . Would you mind providing a minimal reproducer?

[2022-09-07 07:47] #524 closed

[2022-09-07 08:38] #519 closed

[2022-09-07 09:31] #518 closed

[2022-09-07 09:43] ppalaga commented on #506
Since Camel Quarkus 2.12.0 there is a new `camel-quarkus-cxf-soap` extension. It is also available on [code.quarkus.io](https://code.quarkus.io/?e=org.apache.camel.quarkus%3Acamel-quarkus-cxf-soap&extension-search=origin:platform%20cxf)

`camel-quarkus-cxf-soap` leverages Quarkiverse CXF.

[2022-09-07 09:45] ppalaga commented on #446
Since Camel Quarkus 2.12.0 there is a new `camel-quarkus-cxf-soap` extension. It is also available on [code.quarkus.io](https://code.quarkus.io/?e=org.apache.camel.quarkus%3Acamel-quarkus-cxf-soap&extension-search=origin:platform%20cxf)

`camel-quarkus-cxf-soap` leverages Quarkiverse CXF.

[2022-09-07 10:07] ppalaga commented on #485
This should not be an issue anymore as of Quarkiverse CXF 1.5.0

[2022-09-07 10:07] #485 closed

[2022-09-07 10:35] #506 closed

[2022-09-07 10:35] #497 closed

[2022-09-07 11:30] ppalaga opened #533 "Rename master branch to main"
... to follow the practice in Quarkus and other repositories in the Quarkus ecosystem.

Any concerns about that @shumonsharif @famod ?

[2022-09-07 13:04] famod commented on #533
+1, it's the way to go these days

[2022-09-07 13:05] famod commented on #533
Hi @gastaldi, I suppose other extensions have made that move already?

[2022-09-07 13:24] shumonsharif commented on #533
Totally for this, I believe I recall seeing some Quarkiverse level discussion about this in the past as well, and looks like many of the Quarkiverse repos have made the switch already.

[2022-09-07 13:36] gastaldi commented on #533
@famod yes, that's the recommended practice 👍🏻

[2022-09-07 14:19] shumonsharif commented on #533
This is the discussion I was referring to, https://github.com/quarkusio/quarkus/issues/16601, though it appears it was mainly for Quarkiverse CI related updates.  Digging deeper, only a very small number of the actual repos have made this switch.

[2022-09-08 19:52] #533 closed

[2022-09-09 19:45] GustavoGramajo commented on #4
So, does this mean that we can't use any async API inside the request handler method? I just tried what you quoted back then, and got the same result. What i need is to send a message over vertx's bus (which has an async API), wait for the result, and then use it to return a response.

Thanks in advance for your time and effort!

[2022-09-10 19:49] shumonsharif commented on #4
Hi @GustavoGramajo I believe the `@UseAsyncMethod` should work fine if it's implemented (and invoked) correctly.  What I said did not work for me, was specific to the [example code](https://github.com/quarkiverse/quarkus-cxf/issues/4#issuecomment-786448953) being discussed at that time.

One thing to note is that the asynchronous method in your request handler will only get invoked if your client

[2022-09-12 08:18] famod commented on #525
@gsmet ⬆️ just in case you missed it

[2022-09-12 12:59] gsmet commented on #525
@famod if all goes well, we should be able to get rid of the warning entirely: https://github.com/hibernate/hibernate-validator/pull/1289 .

[2022-09-12 13:09] famod commented on #525
@gsmet cool, thanks!

[2022-09-13 12:26] famod commented on #525
Fix confirmed in Quarkus 2.12.2, thanks @gsmet!

[2022-09-13 12:49] gsmet commented on #525
Happy to help :). This had been bugging me since forever and it was a nice opportunity to take a step back and revisit it.

[2022-09-21 06:47] maag03 commented on #248
Any progress on this issue ?

[2022-09-29 09:39] jgrabowski opened #551 "Development mode reload is broken for exposed CXF services"
I'm having CXF contract first service on Quarkus. While running in development mode each change generates failure saying:
Soap 1.1 endpoint already registered on address /smsprocessor
It looks like live reload cannot "release" already running webservice before applying changes. After restart it works fine until next code change.

[2022-09-30 12:19] ppalaga opened #552 "Test endpoints having no configuration in application.properties"
Not sure this is supposed to work at all and not sure we already have such test. Anybody knows by any chance?

[2022-09-30 12:24] ppalaga opened #553 "Test setting interceptors via `@org.apache.cxf.interceptor.[In|Out]Interceptors`"
We currently test setting interceptors via `application.properties` but to my best knowledge, we do not have any tests for setting interceptors via `@org.apache.cxf.interceptor.InInterceptors` or `@org.apache.cxf.interceptor.OutInterceptors` on `@WebService` and `@WebServiceProvider` annotated endpoints.

[2022-09-30 12:27] shumonsharif commented on #551
This used to work fine before; linking issue below for reference:
https://github.com/quarkiverse/quarkus-cxf/issues/94

[2022-09-30 12:29] shumonsharif commented on #552
Not sure I followed; are you referring to the integration tests?

[2022-09-30 12:52] ppalaga commented on #552
Not necessarily. Both an integration test or a lightweight deployment test would suffice.

[2022-09-30 13:33] jgrabowski commented on #551
It was quite different. It wasn't' about unsatisfied dependencied but rather about conflict on context (endpoint already registered). I believe it's happening during Quarkus reload. I've enabled quarkus.live-reload.instrumentation=true and it doesn't crash anymore.

[2022-09-30 19:23] ppalaga opened #555 "Test WS-SecurityPolicy with UsernameToken, where an identity is built for authentication / authorization"
https://github.com/quarkiverse/quarkus-cxf/pull/539 added a basic muthual sign/encrypt scenario.

In addition to that we should add a UsernameToken scenario, where an identity is built for authentication / authorization

Related: #628

[2022-09-30 20:01] ppalaga opened #556 "Document X-Forwarded support"
We support rewriting the location value in WSDL through X-Forwarded headers -  see the [XForwardedHeadersTest](https://github.com/quarkiverse/quarkus-cxf/blob/main/integration-tests/server/src/test/java/io/quarkiverse/cxf/it/server/XForwardedHeadersTest.java)
This feature needs to be documented, including at least the following topics:
* A list of supported X-Forwarded headers and what they do
* A

[2022-09-30 20:15] ppalaga opened #557 "`@WebService(wsdlLocation="foo.wsdl")` not honored"
In https://github.com/quarkiverse/quarkus-cxf/pull/543/files#diff-0cd8e0d8aad8318a25f237e3d52a9a3c48ded4413f1258bb80d14160b1952999R30-R37

I had to add the `@Policy` annotations pointing at policy XML fragments, because `wsdlLocation = "TrustHelloService.wsdl"` was not honored and the [wsdl()](https://github.com/quarkiverse/quarkus-cxf/pull/543/files#diff-6580ccf22a10f9fdfe9c452e5e75c79f4d53571175

[2022-10-01 14:55] shumonsharif commented on #556
Hey @ppalaga The use case of LB and proxy related address rewrites sounds very similar to what we already support via X-Forwarded-Headers.  Were you thinking of any additional functionality beyond what was incorporated with https://github.com/quarkiverse/quarkus-cxf/issues/311?

[2022-10-03 11:59] baptistejr commented on #551
Hello,
I have the same problem.
I think the problem came with this pr: https://github.com/quarkiverse/quarkus-cxf/pull/480

[2022-10-04 08:13] ppalaga commented on #556
Thanks a lot @shumonsharif for explaining! Indeed the X-Forwarded headers support does what I was looking for. I made the test a bit more specific when validating the location value in WSDL and I added a native test class in https://github.com/quarkiverse/quarkus-cxf/pull/558

I do not see the X-Forwarded support being documented anywhere, so I am changing the scope of this issue to documentation.

[2022-10-05 21:26] #551 closed

[2022-10-05 22:16] #553 closed

[2022-10-11 09:23] ppalaga opened #570 "Document what the groovy code updating .github/workflows/build.yml does"
@ppalaga to me this is not self-explaining at first glance, so could you please add a small description what this does (next time you touch this)? Thanks!

_Originally posted by @famod in https://github.com/quarkiverse/quarkus-cxf/pull/560#discussion_r991043899_

[2022-10-28 15:22] ppalaga opened #580 "Clients with a class with postponed initialization in their method signatures cannot be compiled to native"
Client proxies for the service interfaces (SEI) are generated at runtime by GraalVM native-image. That generated code loads all classes present in all method signatures of the SEI. Hence if we have a SEI like the following

[code]

then both `Bar` and `Baz` classes get loaded via `Class.forName("acme.Bar")` and `Class.forName("acme.Baz")` in the Proxy code generated by GraalVM native-image (see th

[2022-10-28 15:24] ppalaga commented on #580
I wonder where that `jdk.proxy4.$Proxy131` class comes from? Any idea @shumonsharif

[2022-10-28 15:49] ppalaga opened #582 "Unmarshalling Error: unexpected element when invoking a service with multiple parameters without explicit wrapper"
There is a disabled test reproducing this issue:

https://github.com/quarkiverse/quarkus-cxf/blob/226d033ffdde3785a3383bd6b565992d12e69711/integration-tests/mtom-awt/src/test/java/io/quarkiverse/cxf/it/ws/mtom/awt/server/MtomAwtTest.java#L27-L31

The stack trace:

[code]

[2022-10-28 15:52] ppalaga commented on #582
This should work. @ffang shows a test case on SpringBoot where it works https://github.com/apache/camel-quarkus/pull/4214#issuecomment-1294113013

[2022-10-29 14:20] shumonsharif commented on #580
Hey @ppalaga Apologies for the late response, just saw this.  My suggestion would be to add the following:

[code]

That should dump all the Proxy classes under:
`target/quarkus-cxf-integration-test-mtom-awt-1.6.0-SNAPSHOT-native-image-source-jar/com/sun/proxy`

If you then decompile/view the relevant Proxy source, you should be able to see which interfaces it implements ... that should hopefully

[2022-10-29 14:31] shumonsharif commented on #580
These are the interfaces I see for the error on my laptop:

[code]

It looks like the ImageService implementation itself is your issue.

[2022-10-30 21:13] ppalaga commented on #580
Thanks, that helped a lot! I was not aware of `-J-Djdk.proxy.ProxyGenerator.saveGeneratedFiles`

Here is the decompiled code:

[code]

The static initializer triggers the initialization of `java.awt.Image` by calling `Class.forName("java.awt.Image")`.
Let me ponder how can we fix this.

[2022-10-30 22:09] ppalaga commented on #580
Hm... To be able to register a given proxy class for runtime initialization, I'd first need to know its name.
But I am not finding any way how to get the proxy class name of the given set of interfaces.

@zakkak @galder do you happen to have any idea whether it is possible to instruct GraalVM native-image to postpone the initialization of a generated proxy class for some specific set of interfaces

[2022-10-31 09:34] ppalaga commented on #580
I have updated the title and description with the information we now have about the root cause.

[2022-10-31 09:39] zakkak commented on #580
Hi @ppalaga, not sure how to tackle this. Just wondering if https://www.graalvm.org/22.3/reference-manual/native-image/guides/configure-dynamic-proxies/ (i.e. defining a dynamic proxy manually) could be of any help.

Are you defining any `io.quarkus.deployment.builditem.nativeimage.NativeImageProxyDefinitionBuildItem` for the said proxy?

[2022-10-31 10:12] ppalaga commented on #580
Could you please explain, how it could help? My understanding is that what Quarkus does via `NativeImageProxyDefinitionBuildItem` has the very same effect as the JSON file mentioned in https://www.graalvm.org/22.3/reference-manual/native-image/guides/configure-dynamic-proxies/

We let GraalVM generate the proxy classes - that works well. We'd just need to be able to postpone the initialization for

[2022-10-31 10:32] zakkak commented on #580
Correct, I just was not sure whether you were using `NativeImageProxyDefinitionBuildItem` or not.

+1, unfortunately I am not sure how to achieve this. As you said, we would need to know the generated class name apriori._

[2022-11-01 11:05] galderz commented on #580
@ppalaga IIRC it should also be possible to define a package that should be runtime initialized. Would that work in your case? As long as the package only has the generated proxies, you wouldn't (in theory) need to worry about the generated class names.

[2022-11-01 13:35] ppalaga commented on #580
Interesting idea. From what I see in the output of `-J-Djdk.proxy.ProxyGenerator.saveGeneratedFiles`, it looks like also the package names are not 100% deterministic. Ours is `jdk.proxy4` but I guess it could be some other number. Postponing the initialization of all generared proxy classes could cause some new conflicts.

[2022-11-01 15:17] javaduke opened #586 "How do I prevent CXF from publishing the service (in client-only scenarios)"
I built a Camel Quarkus application which exposes a REST API and calls the remote SOAP serivce - i.e. it acts as a SOAP client. I noticed, however, that CXF Handler is still trying to create a Web Service Web Service org.apache.camel.component.cxf.jaxws.DefaultPayloadProviderSEI on / and fails. Im wondering if it is possible to disable the service creation completely. What I see in the docs at htt

[2022-11-01 15:55] galderz commented on #580
Looking here (for Java 8, but newer also?), it says:

No idea if this will work, but if you define an empty interface in some package and you make the proxy implement that (even if it's empty), maybe you can end up controlling the package?

[2022-11-01 18:28] ppalaga commented on #580
That's a great hint! Thanks a lot @galderz!

[2022-11-01 20:05] ppalaga commented on #586
I wonder what is the difference between the [CXF client integration test](https://github.com/apache/camel-quarkus/tree/main/integration-test-groups/cxf-soap/cxf-soap-client) and your use case? If there is no substantial difference, then does problem you describe occur also in the test?

[2022-11-02 05:16] galderz commented on #580
Had a quick go and I think it might do the trick. Say we define a proxy handler like this:

[code]

And then you invoke:

[code]

It'll print:

[code]

I defined an empty non-public interface in the package where the proxy handling code lives:

[code]

I adjusted the proxy code to simply add the marker interface as one of the proxy interfaces:

[code]

When I execute that, the proxy package name i

[2022-11-02 09:36] ppalaga commented on #580
Thanks for verifying that, @galderz! When implementing it, it will be worth looking whether some of those user-provided interfaces happens to be non-public already. I think it is rather unlikely with web services, but we should check anyway. If so, then we cannot add our own marker interface, but we can try to use the user's one (outputting a warning about what we do).

Regardless of the above, it

[2022-11-03 08:16] ppalaga commented on #580
Any opinion on that @galderz @zakkak ?

[2022-11-03 08:20] ppalaga commented on #580
I have a PoC proving that the idea of @galderz with the package private Marker interface is working in CXF. The only gotcha is that the Marker interface needs to be placed in the application code. Otherwise the JVM complains about mismatching class loaders.

[2022-11-03 09:06] galderz commented on #580
To reiterate my reaction to the first time you wrote it 👉 👀

[2022-11-04 11:08] ppalaga commented on #580
I saw it, but I still wonder what it means? You are looking (a) whether the proposal makes sense or maybe (b) you are looking at others what they come up with or maybe you are looking at something else?

[2022-11-04 13:32] galderz commented on #580
It just means I'm looking into what you proposed. IOW, need to see if it's feasible, if it makes sense, if there's some other way to achieve the same thing...etc.

[2022-11-04 15:41] ppalaga opened #591 "Automate the creation of GH release"
@famod was so kind to create a GH release for the releases I triggered recently.

@gastaldi I wonder whether you have a piece of GH Actions code somewhere that would automate that?

[2022-11-04 15:47] ppalaga opened #592 "Release workflow fails in `Push tags` step"
This is the step failing https://github.com/quarkiverse/quarkus-cxf/blob/1.5.6/.github/workflows/release.yml#L68-L72 :

[code]

and here is the output: https://github.com/quarkiverse/quarkus-cxf/actions/runs/3385044601/jobs/5622732937

[code]

It does not seem to cause any harm because I guess the previous push step already implictly pushes the tag https://github.com/quarkiverse/quarkus-cxf/blob/1

[2022-11-04 16:42] galderz commented on #580
Did you try making `ImageService`, `ImageData` and/or any other classes that add the `java.awt` dependency to be runtime initialized? Unless I'm mistaken, a proxy's input is really the interface(s) that it implements, so if you have an issue the cause is likely in one of the interfaces, or classes they depend on.

[2022-11-04 17:08] gastaldi commented on #592
@ppalaga if tags are being pushed in the previous step I see no reason to keep it. Go ahead and remove it, I'll remove it from the template

[2022-11-04 18:24] gastaldi commented on #591
@ppalaga the plan is to use JReleaser to automate that. I started something in https://github.com/quarkiverse/quarkiverse-parent/tree/jreleaser but haven't resumed because I've been pushed to other tasks.

Here is the issue tracking it: https://github.com/quarkiverse/quarkiverse-parent/issues/57

[2022-11-07 19:48] famod opened #593 "`pom.xml` snippets in docs all use outdated `<version>1.3.0</version>`"
E.g.:
- https://quarkiverse.github.io/quarkiverse-docs/quarkus-cxf/dev/config.html
- https://quarkiverse.github.io/quarkiverse-docs/quarkus-cxf/dev/message-logging.html

Shouldn't this be 1.5.6?

Also, I think it's better to document `quarkus-bom` once and don't use any version after that (on any sub-page).

[2022-11-07 21:29] ppalaga commented on #593
Yeah, we should ideally use an AsciiDoc attribute for the latest released version and let maven/CI update it during the release.

[2022-11-08 00:05] famod commented on #593
There's already thios property: https://github.com/quarkiverse/quarkus-cxf/blob/main/docs/templates/includes/attributes.adoc#L1

But I don't know/remember when it's updated.

/cc @shumonsharif

[2022-11-08 10:08] famod opened #595 "Allow configuring `LoggingFeature` through `application.properties`"
The [docs](https://quarkiverse.github.io/quarkiverse-docs/quarkus-cxf/dev/message-logging.html) say that one has to write a producer method to get a `LoggingFeature` with the desired config.

While this works just fine, it seems that the logging module could provide a producer OOTB (for more developer joy), configured via a set of properties in the quarkus-cxf namespace.
The icing on the cake woul

[2022-11-08 10:48] ppalaga commented on #595
Sounds nice!

The only thing I'd wish here is that no beans should be produced unless there is some explicit configuration in application.properties

[2022-11-09 10:23] ppalaga commented on #593
Indeed, it is not easy. I went through that in Camel Quarkus where it works now. The key parts are these preparationGoals and completionGoals config: https://github.com/apache/camel-quarkus/blob/main/pom.xml#L359-L360 and the commit-release-changes https://github.com/apache/camel-quarkus/blob/main/pom.xml#L1088-L1142

It can be tested locally by passing `-DpushChanges=false -DlocalCheckout=true` t

[2022-11-09 11:52] shumonsharif commented on #593
Nice @ppalaga! So this line is where I had attempted to integrate the the `-Ddocs-version-updates' flag for quarkus-cxf:
https://github.com/quarkiverse/quarkus-cxf/blob/main/.github/workflows/release.yml#L53-L57

The next couple lines in the block (which actually commit the updated files) failed when I tried to release - I don't recall the exact error as it's been quite a while, but I think it did

[2022-11-10 09:34] famod opened #598 "Demote `Not registering a Vert.x handler ...` message to DEBUG"
Just a minor thing, but the following message just adds noise if you're only using clients (like in my case):
[code]

I'll disable this logger in my project but it might be worth thinking about to demote this message to DEBUG.

[2022-11-11 10:24] ppalaga commented on #598
I have added those messages due to https://github.com/apache/camel-quarkus/issues/4192 I thought it would be beneficial for the users to see how their server endpoints are mapped and why the possibly do not see other (like RESTeasy) endpoints to work.

I think you are right that in case there the Vert.x route is not deployed, it can be just a debug message. So please go ahead and send a PR if you

[2022-11-15 19:33] famod commented on #270
Workaround:
- `quarkus.cxf.client.foo.features=${myproject.cxf.client.global-features}`
- `quarkus.cxf.client.bar.features=${myproject.cxf.client.global-features}`
- set `myproject.cxf.client.global-features=org.apache.cxf.feature.LoggingFeature` (or even multiple features, separated with `,`)

You can also use something like: `quarkus.cxf.client.foo.features=MySpecificFeature,${myproject.cxf.clie

[2022-11-15 19:34] famod commented on #270
I'm all for _adding_.

[2022-11-15 19:34] famod commented on #270
Do you have an opinion on this @ppalaga?

[2022-11-21 14:20] ppalaga commented on #270
Sounds good

[2022-11-21 18:55] ppalaga opened #605 "Upgrade to Quarkus 3.0/CXF 4.0/Jakarta 10"
Quarkus migration tips: https://github.com/quarkiverse/quarkiverse/wiki/Migrating-to-Quarkus-3.x
Blocked by CXF: https://issues.apache.org/jira/browse/CXF-8371

[2022-11-23 19:05] ppalaga opened #607 "ClassNotFoundException: MessageContext when quarkus-cxf-services-sts is combined with quarkus-resteasy"
[code]

The root cause seems to be that `cxf-services-sts-core` contains a class (namely `org.apache.cxf.sts.rest.RESTSecurityTokenService`) with JAX-RS annotations which quarkus-resteasy tries to deploy.

Let me try to instruct resteasy to ignore that class. It looks like it could not be made to work anyway because it depends on some Spring stuff.

[2022-11-23 21:58] #607 closed

[2022-11-24 13:02] shumonsharif commented on #605
@ppalaga It may be possible to get started with development on this using the [CXF 4.0.0-SNAPSHOT](https://repository.apache.org/content/groups/snapshots/org/apache/cxf/cxf-bom/4.0.0-SNAPSHOT/) releases with the repositories included at the bottom of [this page](https://cxf.apache.org/docs/using-cxf-with-maven.html).

I ran a very crude check - all our `quarkus-cxf` dependencies resolved, and got

[2022-11-24 13:13] ppalaga commented on #605
Thanks for the tips, @shumonsharif !

I think I'll only have time to work on this after Dec 14th. In case you or anybody else would like to set up a branch/PR it would be welcome.

[2022-11-25 15:45] ppalaga opened #610 "AmbiguousResolutionException when CxfHandler is looking up features or interceptors via CDI.current().select(classObj).get()"
In Camel Quarkus we often configure CXF service endpoints programmatically, using CDI to lookup features and interceptors. We often use `@Named` to keep apart multiple beans of the same type, e.g.:

[code]

When an additional CXF endpoint is configured using `application.properties` like this

[code]

then the application fails at start with the following stacktrace:

[code]

I think the failure p

[2022-11-25 18:53] ppalaga commented on #610
The error message was improved in https://github.com/quarkiverse/quarkus-cxf/pull/611

[2022-11-26 13:45] shumonsharif commented on #605
@ppalaga I just pushed https://github.com/quarkiverse/quarkus-cxf/tree/quarkus-3.x

Everything works fine except some of the native test executions.  I suspect the issues are unrelated to the extension; I will dig in as time permits, but feel free to do so as well!

[2022-11-26 16:30] shumonsharif commented on #605
Except for the couple native tests relating to MTOM, everything else should be fixed and working now.  For now, I have temporarily disabled `MtomIT` and `MtomAwtIT` unit tests, to see if the build passes.

@ppalaga @famod Please feel free to review as your time permits!

[2022-11-26 19:26] shumonsharif commented on #605
Looks like container based native builds are failing.  Without the below, the build on my laptop is passing fine ... will dig in again later!

-Dquarkus.native.container-build=true

[2022-11-28 10:50] famod commented on #610
There is a certain connection to #595 which would also require `@Named` support.

I was just wondering whether  we really need that `#` prefix.
Without it we'd need to treat it as a FQCN first, falling back to `@Named` eventually. I don't see a big issue in that but sure, `#` makes it more explicit.

[2022-11-29 11:02] ppalaga commented on #610
I used `#myNamedBean` without too much thinking and then realized that the convention comes from Camel and is perhaps not that widespread elsewhere. Esp. I do not think I ever saw this notation in Quarkus.

Let's call @mkouba to find the best way forward.

@mkouba, we are looking for a way to reference a `@Named` bean from `application.properties`. The place where we would like to use it currently

[2022-11-29 12:07] mkouba commented on #610
I'm not aware of any such convention.

So the `quarkus.cxf.endpoint.features` config property currently represents a list of fully qualified class names? `org.acme.Foo#loggingFoo` where the part after `#` represents the name of the bean seems to be ok.

[2022-11-29 12:56] ppalaga commented on #610
Thanks for the feedback, @mkouba.

I was rather thinking of introducing

[code]

without the type prefix in case of named beans, because we cast all the named beans to some single abstract type anyway, so their particular subtype is not important.

[2022-11-29 13:42] mkouba commented on #610
Sure, if you know the type then a list of names is ok. However, keep in mind that `@Named` is a bit tricky. It's a qualifier but at the same time a bean that declares `@Named` but no other qualifier has the `@Default` qualifier as well.

[2022-11-30 13:48] #592 closed

[2022-11-30 13:55] ppalaga commented on #586
As of Camel Quarkus 2.13.1 and Quarkiverse CXF 1.5.7, the client only use cases are better tested and should work as expected. Please feel free to reopen this issue if your scenario still does not work @javaduke

[2022-11-30 13:55] #586 closed